{% extends 'admin/layout.html.twig' %}

{% block body_id 'admin_post_index' %}

{% block main %}
    <div class="container-fluid underBar">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 underBarContent newsBtns">

                    <a href="{{ path('blog_index') }}" class="btn blueBtn">ALL</a>
                    <a href="{{ path('blog_index',{'type':'news'}) }}" class="btn blueBtn">NEWS</a>
                    <a href="{{ path('blog_index',{'type':'promotion'}) }}" class="btn blueBtn">PROMOTIONS</a>
                    <a href="{{ path('admin_post_new') }}" class="btn blueBtn">Create new post</a>
                    {#<button class="btn blueBtn">NEW</button>#}
                    {#<button class="btn blueBtn">PROMOTIONS</button>#}
                </div>
            </div>
        </div>
    </div>
    <div class="container"><h1>List of posts</h1>

        <table class="table table-striped table-responsive table-middle-aligned postListAdmin">
            <thead>
            <tr>
                <th scope="col">Post title</th>
                <th scope="col">
                    <i class="fa fa-calendar" aria-hidden="true"> </i> Published at
                </th>
                <th>Type</th>
                <th scope="col" class="text-center">
                    <i class="fa fa-cogs" aria-hidden="true"></i> Actions
                </th>
            </tr>
            </thead>
            <tbody>
            {% for post in posts %}
                <tr class="animated">
                    <td>{{ post.title }}</td>
                    {# it's not mandatory to set the timezone in localizeddate(). This is done to
                       avoid errors when the 'intl' PHP extension is not available and the application
                       is forced to use the limited "intl polyfill", which only supports UTC and GMT #}
                    <td>{{ post.publishedAt|date("d-m-y") }}</td>
                    <td>{{ post.type }}</td>
                    <td class="text-right">
                        <div class="item-actions">
                            {#<a href="{{ path('admin_post_show', {id: post.id}) }}" class="btn btn-sm btn-default">#}
                            {#{{ 'action.show'|trans }}#}
                            {#</a>#}

                            {#<a href="{{ path('admin_post_edit', {id: post.id}) }}" class="btn btn-sm btn-primary">#}
                            {#<i class="fa fa-edit" aria-hidden="true"></i> {{ 'action.edit'|trans }}#}
                            {#</a>#}


                            <a href="{{ path('admin_post_show', {id: post.id}) }}">
                                <img src="{{ asset('icon/preview.png') }}" alt="img" class="down-icon-prev">
                            </a>
                            <a href="{{ path('admin_post_edit', {id: post.id}) }}">
                                <img src="{{ asset('icon/user.png') }}" alt="img"
                                     class="down-icon-del pull-right ">
                            </a>
                            <a href="#"
                               class="confirmDeleteBtn" data-id="{{ post.id }}"
                               data-url="admin/file">
                                <img src="{{ asset('icon/document-delete.png') }}" alt="img"
                                     class="down-icon-del pull-right">
                            </a>

                        </div>
                    </td>

                </tr>
                <tr id="confirmRow{{ post.id }}" class="confirmRow">
                    <td colspan="6" class="confirmDeleteOrder" id="confirmDelete{{ post.id }}">
                        <a href="#"
                           class=" deleteBtn text-left pull-left" data-id="{{ post.id }}"
                           data-url="post" data-userid="{{ post.id }}">DELETE</a>
                        <span class="pull-left cancelDeleteSpan">THE FILE</span>

                        {#</tr>#}
                        {#{% endfor %}#}
                        <span class="pull-right cancelDelete fa fa-times cancelDelete1"
                              id="cancelDelete{{ post.id }}" data-id="{{ post.id }}">
                                    {#<i class="fa fa-times " aria-hidden="true"></i>#}
                                </span>
                        {#<img src="{{ asset('icon/document-delete.png') }}" alt="img"#}
                        {#class="glyphicon glyphicon-remove pull-right">#}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4" align="center">{{ 'post.no_posts_found'|trans }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

