{% extends 'admin/layout.html.twig' %}

{% block body_id 'admin_post_show' %}

{% block main %}
    <div class="container-fluid underBar">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 underBarContent newsBtns">
                    <a href="{{ path('blog_index') }}" class="btn blueBtn">ALL</a>
                    <a href="{{ path('blog_index',{'type':'news'}) }}" class="btn blueBtn">NEWS</a>
                    <a href="{{ path('blog_index',{'type':'promotion'}) }}" class="btn blueBtn">PROMOTIONS</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 col-sm-10 col-sm-offset-1 col-xs-12 contentNewsBlock">
                    <div class="row">
                        <br>
                        <h4 class="text-center newsDate">{{ post.category }} | {{ post.publishedAt|date('d F Y') }}</h4>
                        <h1 class="text-center"><b>{{ post.title }}</b></h1>
                        {#| {{ post.content|md2html }}#}
                    </div>
                </div>
                <div>
                    <img class="newImgBgr" src="{{ post.webPath }}" alt="no img">
                </div>
                <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12 ">
                    <div class="row newsContent">
                        <p>{{ post.content|md2html }}</p>
                    </div>
                </div>
                <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-8 col-xs-12 ">
                    <div class="row ">
                        <p class="text-center"><img class="greyCircle">{{ post.author }}</p>
                    </div>
                </div>
                <br>
            </div>
            {#<div class="row contentNewsBlock">#}
            {#<div class="tellNewsBlock">#}
                {#<div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-122">#}
                {#<p><b>Tell us what you think</b></p>#}
                {#<form action="" id="tellNewsForm">#}
                    {#<textarea name="" id="" cols="30" rows="5" minlength="10" required class="btn-block form-control"></textarea>#}
                    {#<br>#}
                    {#<div class="pull-right">#}
                        {#<button type="submit" class="btn blueBtn btn-block "> SEND</button>#}
                    {#</div>#}
                {#</form>#}
                {#</div>#}
                {#</div>#}
            {#</div>#}
        </div>

    </div>
{% endblock %}


