<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{% block title %}BimmerTech Dealership Platform{% endblock %}</title>
    {#<link rel="alternate" type="application/rss+xml" title="{{ 'rss.title'|trans }}" href="{{ path('blog_rss') }}">#}
    {% block stylesheets %}

        <link rel="stylesheet" href="{{ asset('css/bootstrap-flatly-3.3.7.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/font-awesome-4.6.3.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/font-lato.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.3/toastr.min.css">
        <link rel="stylesheet" href="{{ asset('css/bootstrap-datetimepicker.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/highlight-solarized-light.css') }}">
        <link rel="stylesheet" href="{{ asset('css/bootstrap-tagsinput.css') }}">
        <link rel="stylesheet" href="{{ asset('css/animate.css') }}">
        <link rel="stylesheet" href="{{ asset('css/chosen.css') }}">
        <link rel="stylesheet" href="{{ asset('css/tableexport.css') }}">
        <!-- styles needed by jScrollPane -->
        <link type="text/css" href="{{ asset('css/jquery.jscrollpane.css') }}" rel="stylesheet" media="all"/>

        <link rel="stylesheet" href="{{ asset('css/bootstrap-table.css') }}">
        <link rel="stylesheet" href="{{ asset('css/main.css') }}">



    {% endblock %}
    {% block options_css %}
    {% endblock %}


    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <link rel="manifest" href="{{ asset('manifest.json') }}">
</head>
<div id="loading">
    <img id="loading-image" src="{{ asset('img/load.png') }}" alt="Loading..."/>
</div>
<body id="{% block body_id %}{% endblock %}">

{% block header %}
    <header>

        <div class="navbar navbar-default navbar-static-top" role="navigation">

            <div class="container menuMobile relative">
                {#<div class=" menuLogo animated col-md-1 noPaddingRight">#}

                {#<a href="{{ path('login_redirect') }}">#}
                {#<img src="{{ asset('img/logo.png') }}" alt="" class="animated  logoImg">#}
                {#<img src="{{ asset('img/logoText.png') }}" alt="">#}
                {#</a>#}
                {#</div>#}
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <div class="navbar-header">
                        <div class=" menuLogo animated col-md-1 noPaddingRight pull-left menuForMobile">

                            <a href="{{ path('login_redirect') }}">
                                <img src="{{ asset('img/logo.png') }}" alt="" class="animated  logoImg">
                            </a>
                        </div>
                        <button type="button" class="navbar-toggle"
                                data-toggle="collapse"
                                data-target=".navbar-collapse">
                            <span class="sr-only">{{ 'menu.toggle_nav'|trans }}</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="navbar-collapse  collapse animated slideInRight">
                        <ul class="nav navbar-nav col-md-12">


                            <li class="menuForDecstop"><a href="{{ path('login_redirect') }}" class="aLogoImg">
                                    <img src="{{ asset('img/logo.png') }}" alt="" class="animated  logoImg">
                                    {#<img src="{{ asset('img/logoText.png') }}" alt="">#}
                                </a>
                            </li>


                            {% block header_navigation_links %}
                                <li class=" {% if app.request.attributes.get('_route') starts with 'admin' %}activeMenu{% endif %}
                                    {% if app.request.attributes.get('_route') starts with 'account' %}activeMenu{% endif %}
                                    ">
                                    <a href="
                                       {% if is_granted('ROLE_USER') %}
                                           {{ path('account_index') }}
                                      {% elseif  is_granted('ROLE_MANAGER') %}
                                           {{ path('account_manager_index') }}
                                      {% else %}
                                           {{ path('admin_account_index') }}
                                      {% endif %}
                                           " class="greyTxt">
                                        Account
                                    </a>
                                </li>
                                <li class="{% if app.request.attributes.get('_route') starts with 'vincheck' %}activeMenu{% endif %}">
                                    <a href="{{ path('vincheck_index') }}" class="greyTxt">
                                        VIN check
                                    </a>
                                </li>

                                <li class="{% if app.request.attributes.get('_route') starts with 'blog' %}activeMenu{% endif %}">
                                    <a href="
                                            {% if is_granted('ROLE_ADMIN') %}
                                          {{ path('admin_post_index') }}
                                            {% else %}
                                            {{ path('blog_index') }}
                                            {% endif %}
                                                " class="greyTxt">
                                        News
                                    </a>
                                </li>

                                <li class="{% if app.request.attributes.get('_route') starts with 'download' %}activeMenu{% endif %}">
                                    <a href="{{ path('download_admin_index') }}" class="greyTxt">
                                        Download
                                    </a>
                                </li>

                                {% if is_granted('ROLE_ADMIN') %}
                                    <li class="dropdown {% if app.request.attributes.get('_route') starts with 'setting' %}activeMenu{% endif %}">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                           aria-haspopup="true" aria-expanded="false">Setting <span
                                                    class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="{{ path('setting_coupon_index') }}">Coupon</a></li>
                                            <li><a href="{{ path('setting_currency_index') }}">Currency</a></li>
                                        </ul>
                                    </li>
                                {% endif %}
                            {% endblock %}

                            {% if app.user %}
                                <li class="pull-right">
                                    <a href="{{ path('security_logout') }}" id="logout" class="greyTxt">
                                        Log out
                                    </a>
                                </li>
                                <li class="line pull-right">|</li>
                                {% if user  is defined %}
                                    <li class="pull-right">
                                        <a href="#" id="showAccount">
                                            {% if is_granted('ROLE_ADMIN') %}
                                                BimmerTech
                                            {% endif %}
                                            {% if is_granted('ROLE_USER') %}
                                                {{ user.company }}
                                            {% endif %}
                                            {% if is_granted('ROLE_MANAGER') %}
                                                <img class="managerFotoMenu" src="{{ user.webPath }}" alt="">
                                                {{ user.username }}

                                            {% endif %}
                                        </a>
                                    </li>
                                    {% set sum = 0 %}
                                    {% for ordKey, ordValue in user.notifications %}
                                        {% if not ordValue.hasRead %}
                                            {% set sum=sum + 1 %}
                                        {% endif %}

                                    {% endfor %}

                                    <li class="pull-right  notification">
                                        <a href="#" class="{% if sum %}
                                       danger-block
                                    {% endif %}">{{ sum }}</a>
                                        <ul id="notificationList">
                                        </ul>
                                    </li>
                                    {% if is_granted('ROLE_USER') %}
                                        <li class="pull-right no-cursor youAre{{ user.status }}"><a class=" no-hover">You
                                                are {{ user.status }}</a>
                                        </li>
                                    {% endif %}
                                {% endif %}
                            {% endif %}

                        </ul>
                    </div>
                {% endif %}
            </div>
        </div>

    </header>
    {% if user  is defined %}
        <div id="account"
             class="animated col-lg-6 col-md-6 col-sm-8 col-xs-10 hidden slideInRight noPaddingRight noPaddingLeft  ">
            <div class="navbar-collapse  noPaddingRight noPaddingLeft submenu">
                <ul class="nav navbar-nav col-lg-10 col-md-10 col-sm-12 col-xs-12">
                    <li>
                        <div class="blockCloseBtn col-md-1 col-sm-1 col-xs-1 noPaddingRight noPaddingLeft">
                            <i class="fa fa-times closeAccount" aria-hidden="true"></i>
                        </div>
                    </li>
                    {% if app.user %}
                        <li class="pull-left">
                            <div class="personalInfoTitle"><span>Personal Info</span></div>
                        </li>
                        <li class="pull-right">
                            <a href="{{ path('security_logout') }}" id="logout">
                                Log out
                            </a>
                        </li>
                        {% if user.company  is defined %}
                            <li class="line pull-right">|</li>
                            <li class="pull-right">

                                <a class="showAccount dataCompany no-cursor no-hover"
                                   data-company="{{ user.company }}"> {{ user.company }}</a>

                            </li>

                        {% else %}
                            <li class="line pull-right">|</li>
                            <li class="pull-right">
                                <a href="#" class="showAccount dataCompany"
                                   data-company="{{ user.username }}"> {{ user.username }}</a>
                            </li>

                        {% endif %}

                    {% endif %}
                </ul>
            </div>

            <div class="accountBlock col-lg-9 col-md-9 col-sm-11 col-xs-11">
                <div class="row chooseOpt">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <span>
                        <button type="button" id="personalInfoBtn"
                                class="btn blueBtn btn-block">PERSONAL DETAILS</button>
                    </span>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <span>

                        <button type="button" id="personalAccountBtn" class="btn blueBtn btn-block">ACCOUNT</button>
                    </span></div>
                </div>

                <div class="accountInfo" id="accountMainForm">
                    <div class="hidden" id="userRole" data-role="{{- user.roles[0] -}}"></div>


                    {% if user.webPath  is defined %}
                        <div class="row  col-md-3 col-sm-2 col-xs-4 profileFoto profileManagerFoto">
                            <img class="" src="{{ user.webPath }}" alt="">
                            <br/>
                        </div>
                    {% endif %}
                    {% if user.username  is defined %}
                        <div class="row col-md-12 col-sm-12 col-xs-12 noPaddingLeft">
                            <br/>
                            <p><b>{% if is_granted('ROLE_USER') %}
                                        Contact person
                                    {% else %}
                                        Name
                                    {% endif %}
                                </b></p>
                            <p class="dataName"
                               data-name="{{ user.username }}">{{ user.username ? user.username : " - " }}</p>
                        </div>
                    {% endif %}
                    {% if user.address  is defined %}
                        <div class="row">
                            <p><b>Address</b></p>
                            <p>{{ user.address ? user.address : " - " }} </p>
                        </div>
                    {% endif %}
                    <div class="row">
                        {% if user.city  is defined %}
                            <div class="col-md-5 noPaddingLeft noPaddingRight">
                                <p><b>City</b></p>
                                <p class="dataCity" data-city="{{ user.city }}">{{ user.city ? user.city : " - " }}</p>
                            </div>
                        {% endif %}
                        {% if user.zip  is defined %}
                            <div class="col-md-7 noPaddingLeft noPaddingRight">
                                <p><b>ZIP / Postal Code</b></p>
                                <p>{{ user.zip ? user.zip : " - " }}</p>
                            </div>
                        {% endif %}
                    </div>
                    <div class="row">
                        {% if user.country  is defined %}
                            <div class="col-md-5 noPaddingLeft noPaddingRight">
                                <p><b>Country</b></p>
                                <p>{{ user.country ? user.country : " - " }}</p>
                            </div>
                        {% endif %}
                        {% if user.state  is defined %}
                            <div class="col-md-7 noPaddingLeft noPaddingRight">
                                <p><b>State / Region</b></p>
                                <p class="dataState"
                                   data-state="{{ user.state }}">{{ user.state ? user.state : " - " }}</p>
                            </div>
                        {% endif %}
                    </div>
                    {% if user.email  is defined %}
                        <div class="row">
                            <p><b>{% if is_granted('ROLE_USER') %}
                                        E-mail address
                                    {% else %}
                                        Email
                                    {% endif %}
                                </b></p>
                            {% if is_granted('ROLE_USER') %}
                                <p class="dataEmail"
                                   data-email="{{ user.email }}">{{ user.email ? user.email : " - " }}</p>
                            {% endif %}
                            {% if is_granted('ROLE_MANAGER') %}
                                <p class="dataEmail"
                                   data-email="{{ user.email }}">{{ user.email ? user.email : " - " }}</p>
                            {% endif %}
                            {% if is_granted('ROLE_ADMIN') %}
                                <p class="dataEmail"
                                   data-email="{{ user.email }}">{{ user.email ? user.email : " - " }}</p>
                            {% endif %}
                        </div>
                    {% endif %}

                    {% if user.supportEmail  is defined %}
                        <div class="row">
                            <p><b>Support E-mail address</b></p>
                            <p>{{ user.supportEmail ? user.supportEmail : " - " }}</p>
                        </div>
                    {% endif %}
                    {% if user.website  is defined %}
                        <div class="row">
                            <p><b> Website</b></p>
                            <p>{{ user.website ? user.website : " - " }}</p>
                        </div>
                    {% endif %}
                    {% if user.phone  is defined %}
                        <p><b>Phone number </b></p>
                        <p data-phone="{{ user.phone }}" class="dataPhone">{{ user.phone ? user.phone : " - " }}</p>
                    {% endif %}
                    <br/>
                    {% if user.phoneNumber  is defined %}
                        <p><b>Phone number </b></p>
                        <p data-phone_number="{{ user.phoneNumber }}"
                           class="dataPhoneNUmber">{{ user.phoneNumber ? user.phoneNumber : " - " }}</p>
                    {% endif %}

                    {% if user.exchangeFee  is defined %}
                        <div class="row">
                            <p><b> Currency exchange fee (%)</b></p>
                            <p>{{ user.exchangeFee ? user.exchangeFee : 0 }}</p>
                        </div>
                    {% endif %}
                    {% if user.currency.name  is defined %}
                        <div class="row">
                            <p><b> Preferred currency</b></p>
                            <p>{{ user.currency.name ? user.currency.name : " - " }}</p>

                        </div>
                    {% endif %}
                    <br/>
                    <div class="row">
                        <div class="col-md-3 noPaddingLeft noPaddingRight">
                            <button type="submit" class="btn blueBtn btn-block" id="accountEditBtn"> EDIT
                            </button>
                        </div>
                    </div>
                </div>

                <div class=" editForm ">

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 noPaddingLeft noPaddingRight">
                        <br/>
                        {{ form_start(edit_form) }}
                        <div id="editProfileForm">
                            <div class="row  ">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    {{ form_row(edit_form.username) }}
                                </div>
                            </div>
                            {% if user.city  is defined %}
                                <div class="row  ">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        {{ form_row(edit_form.address) }}
                                    </div>
                                </div>
                            {% endif %}
                            <div class="row">
                                {% if user.city  is defined %}

                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        {{ form_row(edit_form.city) }}
                                    </div>
                                {% endif %}
                                {% if user.zip  is defined %}
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        {{ form_row(edit_form.zip) }}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="row">
                                {% if user.country  is defined %}
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        {{ form_row(edit_form.country) }}
                                    </div>
                                {% endif %}
                                {% if user.state  is defined %}
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        {{ form_row(edit_form.state) }}
                                    </div>
                                {% endif %}
                            </div>
                            {% if user.email  is defined %}
                                <div class="row  ">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        {{ form_row(edit_form.email) }}
                                    </div>
                                </div>
                            {% endif %}
                            {% if user.supportEmail  is defined %}
                                <div class="row  ">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        {{ form_row(edit_form.supportEmail) }}
                                    </div>
                                </div>
                            {% endif %}
                            {% if user.website  is defined %}
                                <div class="row  ">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        {{ form_row(edit_form.website) }}
                                    </div>
                                </div>
                            {% endif %}

                            {% if user.phone  is defined %}
                                <div class="row  ">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        {{ form_row(edit_form.phone) }}
                                    </div>
                                </div>
                            {% endif %}


                            {% if user.phoneNumber  is defined %}
                                <div class="row  ">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        {{ form_row(edit_form.phoneNumber) }}
                                    </div>
                                </div>
                            {% endif %}

                            <div class="row">
                                {% if user.currency  is defined %}
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        {{ form_row(edit_form.currency) }}
                                    </div>
                                {% endif %}
                                {% if user.exchangeFee  is defined %}
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        {{ form_row(edit_form.exchangeFee) }}
                                    </div>
                                {% endif %}
                            </div>

                            <br/>

                            <div class="row  ">
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <input type="submit" value="SAVE" class="btn blueBtn btn-block "/>
                                </div>
                            </div>
                            <br>
                        </div>
                        {{ form_end(edit_form) }}
                    </div>

                </div>
                <br>
                <div id="securityMainForm" class="row">
                    <div class="col-lg-10 col-md-11 col-sm-12 col-xs-12 ">
                        {% if user.email  is defined %}
                            <div class="row">
                                <div class="col-md-3 noPaddingLeft noPaddingRight">
                                    <p>
                                        <b>E-mail</b>
                                    </p>
                                </div>
                                <div class="col-md-7 noPaddingLeft noPaddingRight">
                                    <p>{{ user.email }}</p>
                                </div>
                            </div>

                        {% endif %}
                        {% if user.password  is defined %}
                            <div class="row bottomBorder">
                                <div class="col-md-3 noPaddingLeft noPaddingRight">
                                    <p><b>Password</b></p>
                                </div>
                                <div class="col-md-7 noPaddingLeft noPaddingRight">
                                    {#<p><b>. . . . . . .</b></p>#}
                                    <input type="text" value=" . . . . . . . . ." class="passDots" disabled>
                                </div>
                                <div class="col-md-2 noPaddingLeft noPaddingRight">
                                    {#<button id="changePassBtn"> change</button>#}
                                    <a href="#" id="changePassBtn" class="pull-right">CHANGE</a>
                                </div>
                            </div>
                        {% endif %}

                        <div id="accountForm" class="row">
                            <div class=" col-lg-10 col-md-10 col-sm-12 col-xs-12 ">
                                {{ form_start(form_pass) }}
                                {#{{ form_widget(form_pass) }}#}
                                <div class="row"> {{ form_row(form_pass.oldPassword) }} </div>
                                <div>  {{ form_row(form_pass.plainPassword) }}</div>
                                <br/>
                                <input type="submit" value="SAVE" class="btn blueBtn  btn-block"/>
                                {{ form_end(form_pass) }}
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    {% endif %}
{% endblock %}

<div class="container-fluid ">
    {% block body %}
        <div class="row">
            <div id="main" class="col-sm-12 noPadding ">


                {% block main %}{% endblock %}
            </div>

        </div>
    {% endblock %}
</div>
{#<div id="spinner"></div>#}
{% block footer %}
    <footer>
        <div class="container">
            <div class="row">
                <div id="footer-copyright" class="col-md-6">
                    <p>Copyrights BimmerTech {{ 'now'|date('Y') }}. All rights reserved </p>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/spin.min.js') }}"></script>
    <script src="{{ asset('js/jquery-2.2.4.min.js') }}"></script>
    <script src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=kqef2md2tlnas1uzfti4lxhpczjksdv3pyvqyztrsqrkcgup"></script>
    <script src="{{ asset('js/jquery.playSound.js') }}"></script>
    <script src="{{ asset('js/jquery.validate.min.js') }}"></script>
    <script src="https://www.gstatic.com/firebasejs/3.9.0/firebase.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.3/toastr.min.js"></script>
    <script src="https://www.youtube.com/iframe_api"></script>
    <script src="{{ asset('js/moment.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap-3.3.7.min.js') }}"></script>
    <script src="{{ asset('js/highlight.pack.js') }}"></script>
    <script src="{{ asset('js/bootstrap-datetimepicker.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap-tagsinput.min.js') }}"></script>
    <script src="{{ asset('js/chosen.jquery.js') }}"></script>
    <script src="{{ asset('js/chosen.proto.js') }}"></script>
    <script src="{{ asset('js/rotate.js') }}"></script>
    <script src="{{ asset('js/FileSaver.js') }}"></script>
    <script src="{{ asset('js/tableexport.js') }}"></script>
    <script src="{{ asset('js/date.js') }}"></script>
    <!-- the mousewheel plugin - optional to provide mousewheel support -->
    <script type="text/javascript" src="{{ asset('js/jquery.mousewheel.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/printThis.js') }}"></script>
    <!-- the jScrollPane script -->
    <script type="text/javascript" src="{{ asset('js/jquery.jscrollpane.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.nicescroll.js') }}"></script>
    <script src="{{ asset('js/notification.js') }}"></script>

    <script src="{{ asset('js/bootstrap-table.js') }}"></script>

    <script src="{{ asset('js/bootstrap-table-filter-control.js') }}"></script>
    <script src="{{ asset('js/main.js') }}"></script>
{% endblock %}

{% block options_js %}
{% endblock %}

<script>

</script>


{# it's not mandatory to set the timezone in localizeddate(). This is done to
   avoid errors when the 'intl' PHP extension is not available and the application
   is forced to use the limited "intl polyfill", which only supports UTC and GMT #}
<!-- Page rendered on {{ 'now'|localizeddate('long', 'long', null, 'UTC') }} -->
</body>

</html>
