{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Coupon edit</h1>

        {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit"/>
        {{ form_end(edit_form) }}

        <ul>
            <li>
                <a href="{{ path('setting_coupon_index') }}">Back to the list</a>
            </li>
            <li>
                {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
                {{ form_end(delete_form) }}
            </li>
        </ul>
    </div>
{% endblock %}
