{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>PROMOTIONS list</h1>

        <a href="{{ path('setting_coupon_new') }}" class="btn blueBtn"> new promotion</a>

        <div class="table-responsive">
            <br>
            <table class="table ">
                <thead>
                <tr>

                    <th>Name</th>
                    <th>Download</th>
                    <th>Edit</th>
                </tr>
                </thead>
                <tbody>
                {% for coupon in coupons %}
                    <tr>

                        <td><a href="{{ path('setting_coupon_show', { 'id': coupon.id }) }}">{{ coupon.name }}</a></td>
                        <td><a href="{{ coupon.webPath }}">Download</a></td>
                        <td>

                            <a href="{{ path('setting_coupon_edit', { 'id': coupon.id }) }}">edit</a>

                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
{% endblock %}
