{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Coupon</h1>

        <table>
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ coupon.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ coupon.name }}</td>
            </tr>
            <tr>
                <th>Path</th>
                <td>{{ coupon.path }}</td>
            </tr>
            </tbody>
        </table>

        <ul>
            <li>
                <a href="{{ path('setting_coupon_index') }}">Back to the list</a>
            </li>
            <li>
                <a href="{{ path('setting_coupon_edit', { 'id': coupon.id }) }}">Edit</a>
            </li>
            <li>
                {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
                {{ form_end(delete_form) }}
            </li>
        </ul>
    </div>
{% endblock %}
