<div class=" table-responsive" id="showDealers">
    <table data-toggle="table"
           {#data-search="true"#}
           data-url="false"
           data-filter-control="true"
           data-filter-show-clear="true"
           {#data-sort-name="name"#}
           {#data-sort-class="sortTd"#}
           class="table allDealersTable adminDealer tableExport tableSorter header-fixed">
        {% spaceless %}
            <thead class="">
            <tr>
                <th data-sortable="true"
                    data-field="name"
                    data-sorter="nameSorter"
                >Name
                </th>
                {#<th data-class="sortTd statusColumn" data-field="status" data-filter-control="input">#}
                <th data-class="sortTd statusColumn" data-field="status" data-filter-control="select"
                    data-filter-control-default="live">
                    Status
                    {#<img src="{{ asset('icon/list.png') }}" alt="" id="showStatusList">#}
                    {#<div class="statusList hidden">#}
                    {#<a href="#" class="tableFilter" data-name="BRONZE" data-type="status"><p>#}
                    {#BRONZE</p></a>#}
                    {#<a href="#" class="tableFilter" data-name="SILVER" data-type="status"><p>#}
                    {#SILVER</p></a>#}
                    {#<a href="#" class="tableFilter" data-name="GOLD" data-type="status"><p>GOLD</p>#}
                    {#</a>#}
                    {#<a href="#" class="tableFilter" data-name="PLATINUM" data-type="status"><p>#}
                    {#PLATINUM</p></a>#}
                    {#<a href="#" class="tableFilter" data-name="" data-type="status"><p>ALL</p></a>#}
                    {#</div>#}
                </th>
                <th data-sortable="true" data-field="order"> Order Value</th>
                {#<th data-field="manager" class="managerColumn" data-filter-control="input">Manager#}
                <th data-field="manager" class="managerColumn" data-filter-control="select"
                    data-filter-control-default="live">Manager
                    {#<img src="{{ asset('icon/list.png') }}" alt="" id="showManagerList">#}
                    <div class="managerList hidden">
                        {%- for key, value in managers -%}
                            <a href="#" class="tableFilter" data-type="manager"
                               data-name="{{- value.username -}}">
                                <p>{{- value.username -}}</p></a>
                        {%- endfor -%}
                        <a href="#" class="tableFilter" data-name=""><p>All</p></a>
                    </div>
                </th>
                <th class="hidden" data-field="person">>Contact Person</th>
                <th class="hidden" data-field="address">>Address</th>
                <th class="hidden" data-field="city">>City</th>
                <th class="hidden" data-field="zip">>Zip</th>
                <th class="hidden" data-field="cuntry">>Country</th>
                <th class="hidden" data-field="state">>State</th>
                <th class="hidden" data-field="mail">>E-mail</th>
                <th class="hidden" data-field="supmail">>Support e-mail</th>
                <th class="hidden" data-field="site">>Website</th>
                <th class="hidden" data-field="phone">>Phone number</th>
            </tr>
            </thead>
            <tbody>
            {%- for key, value in dealers -%}
            <tr>
                <td>
                    <a href="{{- path('account_dealer_profile', { 'id': value.id }) }}">
                        {{- value.company -}}
                    </a>
                </td>
                {%- set sum = 0 %}
                {%- for ordKey, ordValue in value.orders %}
                    {%- set sum=sum+ordValue.cost %}
                {%- endfor -%}
                <td class="sortTd statusIcon{{- value.status -}}">
                    {{- value.status -}}</td>
                <td class="dealerValue">{{- sum -}}</td>
                <td>
                    {%- if  value.userManager -%}
                        <a href="{{- path('account_manager_profile',{'id': value.userManager.id}) -}}">
                            {{- value.userManager.username -}}
                        </a>
                    {%- else -%}

                    {%- endif -%}
                </td>
                <td class="hidden">{{- value.userName -}}</td>
                <td class="hidden">{{- value.address -}}</td>
                <td class="hidden">{{- value.city -}}</td>
                <td class="hidden">{{- value.zip -}}</td>
                <td class="hidden">{{- value.country -}}</td>
                <td class="hidden">{{- value.state -}}</td>
                <td class="hidden">{{- value.email -}}</td>
                <td class="hidden">{{- value.supportEmail -}}</td>
                <td class="hidden">{{- value.website -}}</td>
                <td class="hidden">{{- value.phone -}}</td>
                {%- endfor -%}
            </tbody>
        {% endspaceless %}
    </table>
</div>