<div class="container" id="wrapperEdit">
    <br/>
    <div class="row">

        <a href="#"> <i class="fa fa-times closeAccount pull-left closeNewfile" aria-hidden="true"></i></a>
        <h3>{{ editTitle }}</h3>

    </div>
    <br>
    <div class=" col-lg-10 col-md-10 col-sm-10 col-xs-10 noPaddingRight noPaddingLeft">
        {{ form_start(editAjaxForm, { 'attr': {'class': 'form-inline'} }) }}
        <div class="form-group">
            <div class="width-md width-sm width-xs "> {{ form_row(editAjaxForm.createAt) }}</div>
            <div class="width-md width-sm width-xs ">  {{ form_row(editAjaxForm.value, { 'type':'number' }) }}</div>
            <div class="width-md width-sm width-xs "> {{ form_row(editAjaxForm.cost, { 'type':'number' }) }}</div>
            <div class="width-md width-sm width-xs ">{{ form_row(editAjaxForm.itemNumber, { 'type':'number' }) }}</div>
            <div class="width-md width-sm width-xs">
                <div class="form-group btn-block">
                    <label for=""></label>
                    <button type="submit" class="btn blueBtn btn-block">SAVE</button>
                </div>
            </div>
        </div>
        {{ form_end(editAjaxForm) }}
    </div>
</div>
