<div class="container-fluid underBar">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 dealerProfileLeftBlock  noPaddingLeft noPaddingRight ">
                <div class="row ">
                    <form class="form-inline col-md-12 col-sm-12 col-xs-12" action="{{ path('vincheck_index') }}"
                          method="GET">
                        <div class=" col-md-3 col-sm-7 col-xs-7 noPaddingRight">
                            <div class=" col-md-12 col-sm-12 col-xs-12 noPaddingRight">
                                <input type="text" class="form-control" id="inputCheckVin" name="vin"
                                       placeholder="Enter your VIN - beta version" required
                                       pattern="^[a-zA-Z0-9]{7,17}$">
                            </div>
                        </div>
                        <div class=" col-md-2 col-sm-2 col-xs-5">
                            <button type="submit" class="btn blueBtn btn-block checkVinBtn "><b>SUBMIT</b></button>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12 textVinInfo">
                            <p><em>This VIN check tool is currently in beta. Some compatible products may be missing.
                                    If you suspect an error, please help us improve this tool by sending a report
                                    below.</em></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>