{% extends 'base.html.twig' %}

{% block body %}
    <div class="container containerMarginTop">

        <div class="col-md-8">
            <div class="row">
                <a href="
               {% if  is_granted('ROLE_MANAGER') %}
                    {{ path('account_manager_index') }}
                {% else %}
                    {{ path('admin_account_index') }}
                {% endif %}
                 ">
                    <button class="btn btn-info"><i class="fa fa-angle-left" aria-hidden="true"></i>
                        Back
                    </button>
                </a>
            </div>
            <br>
            <div class="row">
                <div class="col-md-3"> All Dealers</div>
                <div class="col-md-3">
                    <button id="addNewDealer" class="btn btn-default">Add new dealer</button>
                </div>
            </div>
            <br>
            <div class="col-md-12">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Company</th>
                        <th>Country</th>
                        <th>State</th>
                        <th>Status</th>
                        <th>Manager</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for key, value in dealers %}
                        <tr class="animated">

                            <td>
                                <a href="{{ path('account_dealer_profile', { 'id': value.id }) }}">{{ value.company }}</a>
                            </td>
                            <td>{{ value.country }}</td>
                            <td>{{ value.state }}</td>
                            <td>{{ value.status }}</td>
                            <td>
                                {% if  value.userManager %}
                                    {{ value.userManager.username }}
                                {% endif %}
                            </td>
                            <td>
                                <a href="" class="btn btn-info btn-sm editBlockBtn" data-id="{{ value.id }}">Edit</a>
                            </td>
                            <td>
                                <a href="#"
                                   class="btn btn-danger btn-sm deleteBtn" data-id="{{ value.id }}"
                                   data-url="../dealer">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>

    <div id="addNewDealerBlock" class="animated col-md-5 hidden slideInRight ">
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav col-md-10">
                <li>
                    <a href="#"> <i class="fa fa-times closeAccount pull-left" aria-hidden="true"></i></a>
                </li>
            </ul>
        </div>
        <div class="accountBlock col-md-6">

            <h2>Personal details</h2>
            <br>
            {{ form_start(new_dealer) }}
            {{ form_widget(new_dealer) }}
            <input type="submit" value="SAVE" class="btn blueBtn pull-right"/>
            {{ form_end(new_dealer) }}
        </div>
    </div>
    <div id="editBlock" class="animated col-md-5 hidden slideInRight ">
        <div id="wrapperEdit">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav col-md-10">
                    <li>
                        <a href="#" class="closeAccount"> <i class="fa fa-times  pull-left" aria-hidden="true"></i></a>
                    </li>
                </ul>
            </div>
            <div class="accountBlock col-md-6">

                <h2>Personal Edit</h2>
                <br>

                {{ form_start(edit_dealer) }}
                {{ form_widget(edit_dealer) }}
                <input type="submit" value="SAVE" class="btn blueBtn pull-right"/>
                {{ form_end(edit_dealer) }}
            </div>
        </div>
    </div>
{% endblock %}
