{% extends 'base.html.twig' %}

{% block body %}

    <div class="container-fluid underBar">
        <div class="container">
            <div class="row">
                <div class="col-md-11 col-sm-11  col-xs-12 dealerProfileLeftBlock  noPaddingLeft noPaddingRight underBarContent">
                    <div class="col-md-4 col-sm-5 btn no-hover no-cursor ">
                        <span class="underBarContentText">Account</span>
                        <span class="lineBread underBarContentText">|</span>
                        <span class="underBarContentText"><a href="{{ path('login_redirect') }}">Dealer list</a></span>
                        <span class="lineBread">|</span>
                        <span>Dealer page</span>
                    </div>

                    <div class="col-md-8 col-sm-7  col-xs-12 dealerProfileRightBlock text-right">
                        <div class="no-hover no-cursor dealerCompanyNameDiv">
                            <p>
                                <b>{{ dealer.company }}</b> <span class="lineBread">|</span> {{ dealer.city }}
                            </p>
                        </div>
                        {% if is_granted('ROLE_ADMIN') %}
                            <span id="changeManagerBtn" class="  text-center pull-right">
                                <a href="#" class="btn btn-info blueBtn">
                                    <img src="{{ asset('icon/userBlack.png') }}" alt="img"
                                         class="icon  ">EDIT DEALER</a>
                            </span>
                        {% endif %}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="container containerMarginTop">
        <div class="col-md-8 col-sm-12 col-xs-12 animated slideInLeft">
            <br>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 pull-left"><h5>{{ dealer.company }} - <b>ORDER LIST</b></h5>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="tableOverflow table-responsive">
                    <table class="table adminDealer dealerTable">
                        <thead>
                        <tr>
                            <th>Date</th>
                            <th>List Value</th>
                            <th>Order cost</th>
                            <th>Number of items >$299</th>
                            {% if is_granted('ROLE_MANAGER') %}
                                <th></th>
                                <th></th>
                            {% endif %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for key, value in dealer.orders %}
                            <tr class="animated">
                                <td>{{ value.createAt|date("d-m-y") }}</td>
                                <td>${{ value.value }}</td>
                                <td>${{ value.cost }}</td>
                                <td>{{ value.itemNumber }}</td>
                                {% if  is_granted('ROLE_MANAGER') %}
                                    <td>
                                        <a href="#" class="  editOrderBtnbtn editBlockAjaxBtn"
                                           data-id="{{ value.id }}" data-userid="{{ dealer.id }}"
                                           data-url="order/{{ dealer.id }}">
                                            <img src="{{ asset('icon/preview.png') }}" alt="img" class="down-icon-prev">
                                        </a>
                                    </td>
                                    <td>
                                        <a href="#"
                                           class=" confirmDeleteBtn" data-id="{{ value.id }}"
                                           data-url="order/{{ dealer.id }}" data-userid="{{ dealer.id }}">
                                            <img src="{{ asset('icon/document-delete.png') }}" alt="img"
                                                 class="down-icon-del pull-right confirmShow">
                                        </a>
                                    </td>
                                {% endif %}
                            </tr>
                            <tr id="confirmRow{{ value.id }}" class="confirmRow">
                                <td colspan="6" class="confirmDeleteOrder" id="confirmDelete{{ value.id }}">
                                    <a href="#"
                                       class="deleteBtn confirmDeleteBtn text-left pull-left" data-id="{{ value.id }}"
                                       data-url="order/{{ dealer.id }}" data-userid="{{ dealer.id }}">DELETE</a>
                                    <span class="pull-left cancelDeleteSpan">THE ORDER</span>
                                    <span class="pull-right cancelDelete fa fa-times cancelDelete1"
                                          id="cancelDelete{{ value.id }}" data-id="{{ value.id }}">
                                </span>

                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <br>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 text-center pull-right totalValue">
                        <h5><b>TOTAL VALUE: $ {{ dealer.getOrdersTotalSum() }}</b></h5>
                    </div>
                    {% if is_granted('ROLE_MANAGER') %}
                        <div class="col-md-6 col-sm-6 col-xs-12 pull-right">
                            <a href="#" id="newOrderBtn" class="btn btn-block blueBtn"> <img
                                        src="{{ asset('icon/document-edit.png') }}" alt="" class="icon"><span
                                        class="btnTextCenter">ADD ORDER</span></a>
                        </div>
                    {% endif %}

                </div>
            </div>
        </div>
        <div id="dealerManager" class="animated col-md-4 col-sm-12 col-xs-12 slideInRight ">
            <div class="dealerManagerAccount right">
                <br>
                <br>
                <br>
                <div class="row dealerInfoRight col-sm-6 col-md-12 col-xs-12 noPaddingLeft">
                    <div class="col-md-4 col-sm-4 col-xs-4 ">
                        <img src="{{ asset('img/status.png') }}" alt="">
                    </div>
                    <div class="col-md-8 col-sm-8  col-xs-8 statusText noPaddingRight">
                        <p class="text-left"> Status:<b> {{ dealer.status }}</b></p>
                        {% if dealer.status != 'BRONZE' %}
                            <p class="text-left">Expire time :
                                {% if  dealer.calcExpiredTime != null %}
                                    {{ dealer.calcExpiredTime|date("d-m-y") }}
                                    ( {{ dealer.calcExpiredDate }})
                                {% endif %}
                            </p>
                        {% endif %}
                    </div>
                </div>
                <br>
                <br>
                <div class="row col-md-12 col-sm-6 col-xs-12">
                    <p><b>CONTACT INFO</b></p>
                    <hr>
                    <p>{{ dealer.username }}</p>
                    <p>{{ dealer.supportEmail }}</p>
                    <p>{{ dealer.phone }}</p>

                    <br>
                    <p><b>Address:</b></p>
                    <p>{{ dealer.address }}</p>
                    <p>{{ dealer.city }} {{ dealer.state }} {{ dealer.zip }}</p>
                    <p>{{ dealer.country }}</p>
                    <br/>
                    <p>{{ dealer.website }}</p>

                    <p>
                        {% if  dealer.currency != null %}
                            {{ dealer.currency.name }}
                        {% endif %}
                        {% if  dealer.exchangeFee != null %}
                            {{ dealer.exchangeFee }} %
                        {% endif %}
                    </p>
                </div>
                <br>
            </div>
        </div>
        <div id="newOrder" class="container-fluid hidden animated slideInUp">
            <div class="container">
                <br/>
                <div class="row">
                    <a href="#"> <i class="fa fa-times closeAccount pull-left closeNewfile" aria-hidden="true"></i></a>
                    <h3>New order</h3>
                </div>
                <br>
                <div class=" col-lg-10 col-md-10 col-sm-10 col-xs-10 noPaddingRight noPaddingLeft">
                    {{ form_start(form_order, { 'attr': {'class': 'form-inline'} }) }}

                    <div class="form-group">
                        <div class="width-md width-sm width-xs "> {{ form_row(form_order.createAt) }}</div>
                        <div class="width-md width-sm width-xs">  {{ form_row(form_order.value, { 'type':'number' }) }}</div>
                        <div class="width-md width-sm width-xs"> {{ form_row(form_order.cost, { 'type':'number' }) }}</div>
                        <div class="width-md width-sm width-xs">{{ form_row(form_order.itemNumber, { 'type':'number' }) }}</div>
                        <div class="width-md width-sm width-xs">
                            <div class="form-group btn-block">
                                <label for=""></label>
                                <button type="submit" class="btn blueBtn btn-block">SAVE</button>
                            </div>
                        </div>
                    </div>
                    {{ form_end(form_order) }}
                </div>
            </div>
        </div>
        <div id="changeManager"
             class="animated col-md-5 col-sm-8 col-xs-10 hidden slideInRight noPaddingLeft noPaddingRight">

            <div class="navbar-collapse  noPaddingRight noPaddingLeft submenu">
                <ul class="nav navbar-nav col-lg-10 col-md-10 col-sm-12 col-xs-12">
                    <li>
                        <div class="blockCloseBtn col-md-1 noPaddingRight noPaddingLeft">
                            <i class="fa fa-times closeAccount" aria-hidden="true"></i>
                        </div>
                    </li>
                    <li class="pull-left">
                        <div class="personalInfoTitle"><span>Edit Dealer</span></div>
                    </li>
                </ul>
            </div>

            <div class="accountBlock col-md-10 col-sm-10 col-xs-11">
                {{ form_start(change_manager) }}
                <div class="row  ">
                    <div class="col-md-6 ">{{ form_row(change_manager.company) }}</div>
                    <div class="col-md-6 ">{{ form_row(change_manager.username) }}</div>
                </div>
                <div class="row">
                    <div class="col-md-12 ">
                        {{ form_row(change_manager.address) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 "> {{ form_row(change_manager.city) }}</div>
                    <div class="col-md-6 "> {{ form_row(change_manager.zip) }}</div>
                </div>
                <div class="row">
                    <div class="col-md-6 "> {{ form_row(change_manager.country) }}</div>
                    <div class="col-md-6 "> {{ form_row(change_manager.state) }}</div>
                </div>
                <div class="row">
                    <div class="col-md-12 ">
                        {{ form_row(change_manager.email) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 ">
                        {{ form_row(change_manager.supportEmail) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 ">
                        {{ form_row(change_manager.website) }}</div>
                </div>
                <div class="row">
                    <div class="col-md-6 "> {{ form_row(change_manager.phone) }}</div>
                    <div class="col-md-6 ">{{ form_row(change_manager.userManager) }}</div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-md-offset-6 ">
                        <input type="submit" value="SAVE" class="btn blueBtn btn-block pull-right "/>
                    </div>
                </div>
                {{ form_end(change_manager) }}
            </div>
        </div>

        <div id="editOrder" class="container-fluid hidden animated slideInUp editBlockAjax">
            <div class="container" id="wrapperEdit">
                <br/>
                <div class="row">

                    <a href="#"> <i class="fa fa-times closeAccount pull-left closeNewfile" aria-hidden="true"></i></a>
                    <h3>Edit order</h3>

                </div>
                <br>
                <div class=" col-lg-10 col-md-10 col-sm-10 col-xs-10 noPaddingRight noPaddingLeft">


                </div>
            </div>
        </div>
    </div>


{% endblock %}
