{% extends 'base.html.twig' %}

{% block body %}

    <div class="container-fluid underBar">
        <div class="container  toggleRightMenu">
            <div class="row">
                <div class="col-md-10 col-sm-12 col-xs-12  noPaddingLeft noPaddingRight ">
                    <div class="col-md-6  col-sm-4 col-xs-12 btn no-hover no-cursor ">
                        <span class="underBarContentText">Account</span>
                        <span class="lineBread underBarContentText">|</span>
                        <span>Dealer list</span>
                    </div>
                    <div class="col-md-6 col-sm-8 col-xs-12 btn no-hover no-cursor noPadding">
                        {% if is_granted('ROLE_ADMIN') %}
                            <div id="accountBlockBtn" class=" col-md-12 col-sm-12 col-xs-12 ">
                                <div class="col-md-5 col-sm-4 col-xs-5 col-md-offset-1 col-sm-offset-1  noPaddingLeft  noPaddingRight">
                                    <a href="#" id="addNewDealer"
                                       class="btn btn-block blueBtn lefMarg noPaddingRight noPaddingLeft">
                                        <span class="blackPlus1">+</span>ADD DEALER
                                    </a>
                                </div>
                                <div class="col-md-5 col-sm-4 col-xs-offset-1 col-xs-5 col-md-offset-1 noPaddingLeft noPaddingRight">
                                    <a href="#" id="addNewManagerBtn"
                                       class="btn btn-block blueBtn noPaddingRight noPaddingLeft ">
                                        <span class="blackPlus1">+</span>ADD MANAGER
                                    </a>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container  containerMarginTop">
        <div class="col-md-10">
            <br>
            <p id="seeAllDealersP">RECENTLY ADDED DEALERS</p>
            <p id="recentlyAddedDealersP" class="hidden">ALL DEALERS</p>
            <div class="col-md-12 animated zoomIn noPaddingRight noPaddingLeft">
                <div class=" table-responsive" id="showDealers">
                    <table data-toggle="table"
                            {#data-search="true"#}
                           data-url="false"
                           data-filter-control="true"
                           data-filter-show-clear="true"
                           class="table allDealersTable adminDealer tableExport tableSorter header-fixed">
                        {% spaceless %}
                            <thead class="">
                            <tr>
                                <th data-sortable="true"
                                    data-field="name"
                                    data-sorter="nameSorter"
                                >Name
                                </th>
                                {#<th data-class="sortTd statusColumn" data-field="status" data-filter-control="input">#}
                                <th data-class="sortTd statusColumn" data-field="status" data-filter-control="select"
                                    data-filter-control-default="live"
                                >
                                    Status
                                    {#<img src="{{ asset('icon/list.png') }}" alt="" id="showStatusList">#}
                                    {#<div class="statusList hidden">#}
                                    {#<a href="#" class="tableFilter" data-name="BRONZE" data-type="status"><p>#}
                                    {#BRONZE</p></a>#}
                                    {#<a href="#" class="tableFilter" data-name="SILVER" data-type="status"><p>#}
                                    {#SILVER</p></a>#}
                                    {#<a href="#" class="tableFilter" data-name="GOLD" data-type="status"><p>GOLD</p>#}
                                    {#</a>#}
                                    {#<a href="#" class="tableFilter" data-name="PLATINUM" data-type="status"><p>#}
                                    {#PLATINUM</p></a>#}
                                    {#<a href="#" class="tableFilter" data-name="" data-type="status"><p>ALL</p></a>#}
                                    {#</div>#}
                                </th>
                                <th data-sortable="true" data-field="order"> Order Value</th>
                                {#<th data-field="manager" class="managerColumn" data-filter-control="input">Manager#}
                                <th data-field="manager" class="managerColumn" data-filter-control="select"
                                    data-filter-control-default="live">Manager
                                    {#<img src="{{ asset('icon/list.png') }}" alt="" id="showManagerList">#}
                                    <div class="managerList hidden">
                                        {%- for key, value in managers -%}
                                            <a href="#" class="tableFilter" data-type="manager"
                                               data-name="{{- value.username -}}">
                                                <p>{{- value.username -}}</p></a>
                                        {%- endfor -%}
                                        <a href="#" class="tableFilter" data-name=""><p>All</p></a>
                                    </div>
                                </th>
                                <th class="hidden" data-field="person">>Contact Person</th>
                                <th class="hidden" data-field="address">>Address</th>
                                <th class="hidden" data-field="city">>City</th>
                                <th class="hidden" data-field="zip">>Zip</th>
                                <th class="hidden" data-field="cuntry">>Country</th>
                                <th class="hidden" data-field="state">>State</th>
                                <th class="hidden" data-field="mail">>E-mail</th>
                                <th class="hidden" data-field="supmail">>Support e-mail</th>
                                <th class="hidden" data-field="site">>Website</th>
                                <th class="hidden" data-field="phone">>Phone number</th>
                            </tr>
                            </thead>
                            <tbody>
                            {%- for key, value in dealers -%}
                            <tr>
                                <td>
                                    <a href="{{- path('account_dealer_profile', { 'id': value.id }) }}">
                                        {{- value.company -}}
                                    </a>
                                </td>
                                {%- set sum = 0 %}
                                {%- for ordKey, ordValue in value.orders %}
                                    {%- set sum=sum+ordValue.cost %}
                                {%- endfor -%}
                                <td class="sortTd statusIcon{{- value.status -}}">
                                    {{- value.status -}}</td>
                                <td class="dealerValue">{{- sum -}}</td>
                                <td>
                                    {%- if  value.userManager -%}
                                        <a href="{{- path('account_manager_profile',{'id': value.userManager.id}) -}}">
                                            {{- value.userManager.username -}}
                                        </a>
                                    {%- else -%}

                                    {%- endif -%}
                                </td>
                                <td class="hidden">{{- value.userName -}}</td>
                                <td class="hidden">{{- value.address -}}</td>
                                <td class="hidden">{{- value.city -}}</td>
                                <td class="hidden">{{- value.zip -}}</td>
                                <td class="hidden">{{- value.country -}}</td>
                                <td class="hidden">{{- value.state -}}</td>
                                <td class="hidden">{{- value.email -}}</td>
                                <td class="hidden">{{- value.supportEmail -}}</td>
                                <td class="hidden">{{- value.website -}}</td>
                                <td class="hidden">{{- value.phone -}}</td>
                                {%- endfor -%}
                            </tbody>
                        {% endspaceless %}
                    </table>
                </div>
            </div>

            <div class="col-md-12 col-sm-12 noPaddingRight">
                <div class="row">
                    <div class="col-md-4  col-md-offset-1 col-sm-4">
                        <button id="seeAllDealersBtn" class="seeRecentlyAllDealers btn blueBtn btn-block hidden"
                                data-resently="true">
                            <img src="../../icon/clock.png" alt="" class="iconRightPadding">RECENTLY ADDED
                        </button>
                        <button id="recentlyAddedDealersBtn" class="seeRecentlyAllDealers btn blueBtn btn-block "
                                data-resently="false">
                            <img src="../../icon/user-group.png" alt="" class="iconRightPadding">ALL DEALERS
                        </button>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <button id="showExportData" data-show="true" class="btn blueBtn btn-block">

                            <img src="../../icon/export.png" alt="" class="iconRightPadding">EXPORT DATA
                        </button>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12 noPaddingRight text-center pull-right totalValue  dealersTotalVal">
                        <h5><b>TOTAL VALUE:<span id="totalOrderSum"> $ {{ totalValue }}</span></b></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="addNewDealerBlock"
         class="animated col-md-6  col-sm-6 col-xs-10 hidden slideInRight noPaddingRight noPaddingLeft ">
        <div class="navbar-collapse  noPaddingRight noPaddingLeft submenu">
            <ul class="nav navbar-nav col-lg-10 col-md-10 col-sm-12 col-xs-12">
                <li>
                    <div class="blockCloseBtn col-md-1 noPaddingRight noPaddingLeft">
                        <i class="fa fa-times closeAccount" aria-hidden="true"></i>
                    </div>
                </li>
                {% if app.user %}
                    <li class="pull-left">
                        <div class="personalInfoTitle"><span>Dealer info</span></div>
                    </li>
                {% endif %}
            </ul>
        </div>
        <div class="accountBlock col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <div class="chooseOpt col-lg-11 col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-6 ol-sm-12 col-xs-12  ">
                    <button id="newDealerFormBtn" class="persInfoActive btn blueBtn btn-block">NEW DEALER</button>
                </div>
                <div class="col-md-6 ol-sm-12 col-xs-12  ">
                    <button id="deleteDealerFormBtn" class="persInfoDisable btn blueBtn btn-block"> DELETE DEALER
                    </button>
                </div>
            </div>
            <div id="newDealerForm" class="animated flipInY col-lg-11 col-md-12 col-sm-12 col-xs-12">
                {{ form_start(new_dealer) }}
                <div class="row  ">
                    <div class="col-md-6 col-sm-12 col-xs-12">{{ form_row(new_dealer.company) }}</div>
                    <div class="col-md-6 col-sm-12 col-xs-12">{{ form_row(new_dealer.username) }}</div>
                </div>
                <div class="row  ">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        {{ form_row(new_dealer.address) }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-sm-12 col-xs-12"> {{ form_row(new_dealer.city) }}</div>
                    <div class="col-md-6 col-sm-12 col-xs-12"> {{ form_row(new_dealer.zip) }}</div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12 col-xs-12"> {{ form_row(new_dealer.country) }}</div>
                    <div class="col-md-6 col-sm-12 col-xs-12"> {{ form_row(new_dealer.state) }}</div>
                </div>
                <div class="row  ">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        {{ form_row(new_dealer.email) }}
                    </div>
                </div>
                <div class="row  ">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        {{ form_row(new_dealer.supportEmail) }}
                    </div>
                </div>
                <div class="row  ">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        {{ form_row(new_dealer.website) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12 col-xs-12 "> {{ form_row(new_dealer.phone) }}</div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12 col-xs-12">{{ form_row(new_dealer.userManager) }}</div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12 col-xs-12"> {{ form_row(new_dealer.password, {'attr': {'autocomplete': 'new-password'}}) }}</div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <input type="submit" value="SAVE" class="btn blueBtn btn-block"/>
                    </div>
                </div>
                {{ form_end(new_dealer) }}
            </div>
            <div id="deleteDealerForm" class="animated flipInX">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    {{ form_start(delete_dealer ) }}
                    <label> Dealer</label>
                    <div class="row">
                        <div class="col-md-6  form-group">
                            {{ form_row(delete_dealer.dealer) }}
                        </div>
                        <div class="col-md-6  form-group">
                            <input type="button" value="DELETE" class="btn blueBtn btn-block " id="dDelBtn"/>
                        </div>
                        <div class="col-md-6 form-group  animated tada" id="dYesBtn">
                            <p class="orangeBtnQuest">Are you sure?</p>
                            <input type="submit" value="YES" class="btn orangeBtn btn-block "/>
                        </div>
                    </div>
                    {{ form_end(delete_dealer) }}
                </div>
            </div>
        </div>
    </div>

    <div id="addNewManager"
         class="animated col-md-6 col-sm-6 col-xs-10 hidden slideInRight noPaddingRight noPaddingLeft">
        <div class="navbar-collapse  noPaddingRight noPaddingLeft submenu">
            <ul class="nav navbar-nav col-lg-10 col-md-10 col-sm-12 col-xs-12">
                <li>
                    <div class="blockCloseBtn col-md-1 noPaddingRight noPaddingLeft">
                        <i class="fa fa-times closeAccount" aria-hidden="true"></i>
                    </div>
                </li>
                {% if app.user %}
                    <li class="pull-left">
                        <div class="personalInfoTitle"><span>Manager info</span></div>
                    </li>
                {% endif %}
            </ul>
        </div>
        <div class="accountBlock  col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <div class="chooseOpt col-md-12 col-sm-12 col-xs-12 noPadding">
                <div class="col-md-4  noPaddingLeft ">
                    <a href="#" id="newManagerFormBtn" class="persInfoActive btn blueBtn btn-block">NEW MANAGER</a>
                </div>
                <div class="col-md-4 noPaddingLeft">
                    <a href="#" id="deleteManagerFormBtn" class="persInfoDisable btn blueBtn btn-block">
                        DELETE MANAGER </a>
                </div>
                <div class="col-md-4 noPaddingLeft">
                    <a href="#" id="managerListBtn" class="persInfoDisable btn blueBtn btn-block">MANAGER LIST</a>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <br>
                <div id="newManagerForm" class="animated flipInY">
                    {{ form_start(form_new_manager) }}
                    <br>
                    <div class="row">
                        <div class="col-md-8 col-sm-8 noPaddingLeft noPaddingRight">
                            <label class="labelHideInputFile">
                                Select a photo from your computer.
                            </label>
                        </div>
                        <div class="col-md-4 col-sm-4 hideInputFile noPaddingLeft noPaddingRight">
                            <div class="input-file-row-1">

                                <div class="upload-file-container">
                                    <img id="image" src="#" alt=""/>
                                    <div class="upload-file-container-text">
                                        <span class="preloadFile"> </span>
                                        {{ form_row(form_new_manager.file) }}
                                        {#<input type="file" name="pic[]" class="photo" id="imgInput" />#}
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    {{ form_row(form_new_manager.username) }}
                    {{ form_row(form_new_manager.email) }}
                    <div class="row">
                        <div class="col-md-6 noPaddingLeft">
                            {{ form_row(form_new_manager.phoneNumber) }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 noPaddingLeft">
                            {{ form_row(form_new_manager.password, {'attr': {'autocomplete': 'new-password'}}) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 noPaddingLeft">
                            <input type="submit" value="SAVE" class="btn blueBtn btn-block"/>
                        </div>
                    </div>
                    {{ form_end(form_new_manager) }}
                </div>


                <div id="deleteManagerForm" class="animated flipInX">
                    <div class="col-md-12 col-sm-12 col-xs-12 noPadding">
                        {{ form_start(delete_manager ) }}
                        <label> Manager</label>
                        <div class="row">
                            <div class="col-md-6  form-group">
                                {{ form_row(delete_manager.manager) }}
                            </div>
                            <div class="col-md-6  form-group">
                                <input type="button" value="DELETE" class="btn blueBtn btn-block " id="mDelBtn"/>
                            </div>
                            <div class="col-md-6   form-group  animated tada" id="mYesBtn">
                                <p class="orangeBtnQuest">Are you sure?</p>
                                <input type="submit" value="YES" class="btn orangeBtn btn-block "/>
                            </div>
                        </div>
                        {{ form_end(delete_manager) }}
                    </div>
                </div>
                <div id="managerListForm" class="animated flipInX">
                    <div class="row table-responsive">
                        <table class="table table-hover  managerList ">
                            {% spaceless %}
                                <thead>
                                <tr>
                                    <th>Photo</th>
                                    <th>Name</th>
                                    <th>Edit</th>
                                </tr>
                                </thead>
                                <tbody>
                                {%- for key, value in managers -%}
                                    <tr>
                                        <td>
                                            <img src="
                                                {%- if(value.path!=null) -%}
                                                {{- value.webPath -}}
                                                {%- else -%}
                                                {{- asset('img/profile_default.png') -}}
                                                {%- endif -%}
                                                " alt="photo" class="managerPhotoList">

                                        </td>
                                        <td>
                                            {{ value.username }}
                                        </td>
                                        <td>
                                            <a href="{{- path('account_manager_profile',{'id': value.id}) }}">
                                                <img src="{{ asset('icon/preview.png') }}" alt="img"
                                                     class="down-icon-prev">
                                            </a>
                                        </td>
                                    </tr>
                                {%- endfor -%}
                                </tbody>
                            {% endspaceless %}
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div id="editBlock" class="animated col-md-6 hidden slideInRight  noPaddingRight noPaddingLeft">
        <div id="wrapperEdit">
            <div class="navbar-collapse  noPaddingRight noPaddingLeft ">
                <ul class="nav navbar-nav col-md-12 col-sm-12 col-xs-12 noPaddingRight">
                    <li class="col-md-1 noPaddingLeft noPaddingRight">
                        <i class="fa fa-times closeAccount " aria-hidden="true"></i>
                    </li>
                    <li class="titleAccount col-md-11 noPaddingRight ">
                        <h2>Personal Edit</h2>
                    </li>
                </ul>
            </div>
            <div class="accountBlock col-md-7">
                <br>
                {{ form_start(edit_dealer) }}
                {{ form_widget(edit_dealer) }}
                <input type="submit" value="SAVE" class="btn blueBtn pull-right "/>
                {{ form_end(edit_dealer) }}
            </div>
        </div>
    </div>
{% endblock %}
