{% extends 'base.html.twig' %}

{% block body %}

    <div class="container-fluid underBar">
        <div class="container">
            <div class="row">
                <div class="col-md-11 col-sm-11  dealerProfileLeftBlock  noPaddingLeft noPaddingRight underBarContent">
                    <div class="col-md-6  col-sm-5 btn no-hover no-cursor ">
                        <span class="underBarContentText">Account</span>
                        <span class="lineBread underBarContentText">|</span>

                        <span>Manager page</span>
                    </div>
                    <div class="col-md-6 col-sm-7 dealerProfileRightBlock text-right">
                        <div class=" btn no-hover no-cursor">
                            <b>{{ manager.userName }}</b>
                        </div>
                        {% if is_granted('ROLE_ADMIN') %}
                            <span id="changeManagerBtn" class=" col-md-5 text-center pull-right">
                                <a href="#" class="btn btn-info blueBtn">
                                    <img src="{{ asset('icon/userBlack.png') }}" alt="img"
                                         class="icon  ">EDIT MANAGER</a>
                            </span>
                        {% endif %}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="container containerMarginTop">
        <div class="col-md-7 animated slideInLeft">
            <div class="row">
                <div class="col-md-12">
                    <br>
                    <div class="col-md-6 pull-left noPaddingLeft noPaddingRight"><h5><b>DEALER LIST</b></h5></div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="showDealers table-responsive">
                    <table class="table table-striped adminDealer managerTable">
                        <thead>
                        <tr>
                            <th>Company</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for key, value in manager.userDealer %}
                            <tr class="animated ">
                                <td>{{ value.company }}</td>
                                <td class="statusIcon{{ value.status }}">{{ value.status }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div id="managerContactBlock" class="animated col-md-4 slideInRight  ">
            <div class="managerContact right">
                <br>
                <br>
                <div class="row col-sm-6 col-md-12 col-xs-12">
                    <div class="col-md-3 col-sm-4 col-xs-3 pull-left">
                        <img src="../../img/managerS.png" alt="manager">
                    </div>
                    <div class="col-md-7 col-sm-8 col-offset-xs-1 col-xs-7 pull-right noPaddingRight">
                        <br/>
                        <p class="assign text-left">Assign: <span><b>{{ manager.userDealer|length }} dealers </b>
                           </span><br/><br>
                            <span class="spanPaddingLeft"><b> {{ dealerPlatitum|length }} </b>Platinum
                           </span><br/>
                            <span class="spanPaddingLeft"><b>  {{ dealerGold|length }} </b> Gold
                           </span><br/>
                            <span class="spanPaddingLeft"><b> {{ dealerSilver|length }}</b> Silver
                           </span><br/>
                            <span class="spanPaddingLeft"><b> {{ dealerBronze |length }}  </b> Bronze
                           </span><br/>
                        </p>
                    </div>
                </div>
                <br>
                <div class="row col-sm-6 col-md-12 col-xs-12">
                    <h5 class="text-right pBotBord"><b>CONTACT INFO</b></h5>
                    <div class="row">
                        <div class="col-md-8 col-sm-8 col-xs-8">
                            <p class="text-left">{{ manager.userName }}</p>
                            <p class="text-left pWrap">{{ manager.email }}</p>
                            <p class="text-left">{{ manager.phoneNumber }}</p>
                        </div>
                        <div class="col-md-4 col-sm-4  col-xs-4 profileFoto pull-right">
                            <img src="
                                {% if(manager.path!=null) %}
                                {{ manager.webPath }}
                                {% else %}
                                {{ asset('img/profile_default.png') }}
                                {% endif %}
                                " alt="manager">
                        </div>
                    </div>
                    <br>
                </div>
            </div>
        </div>

        <div id="changeManager"
             class="animated col-md-6 col-sm-8 col-xs-10 hidden slideInRight noPaddingRight noPaddingLeft">
            <div class="navbar-collapse  noPaddingRight noPaddingLeft submenu">
                <ul class="nav navbar-nav col-lg-10 col-md-10 col-sm-12 col-xs-12">
                    <li>
                        <div class="blockCloseBtn col-md-1 noPaddingRight noPaddingLeft">
                            <i class="fa fa-times closeAccount" aria-hidden="true"></i>
                        </div>
                    </li>
                    <li class="pull-left">
                        <div class="personalInfoTitle"><span>Edit Manager</span></div>
                    </li>
                </ul>
            </div>
            <div class="accountBlock col-md-7 col-sm-10 col-xs-11 ">
                <br>
                <div id="newManagerForm">
                    {{ form_start(edit_manager) }}
                    <br>
                    <div class="row">
                        <div class="col-md-8 noPaddingLeft noPaddingRight">
                            <label class="labelHideInputFile">
                                Select a photo from your computer.
                            </label>
                        </div>
                        <div class="col-md-4 hideInputFile noPaddingLeft noPaddingRight">
                            <div class="input-file-row-1">
                                <div class="upload-file-container">
                                    <img id="image" src="{{ manager.webPath }}" alt="photo"/>
                                    <div class="upload-file-container-text changeAvatart">
                                        <span class="preloadFile"> </span>
                                        {{ form_row(edit_manager.file) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6  col-sm-12 col-xs-12 noPaddingLeft">
                            {{ form_row(edit_manager.username) }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-6  col-sm-12 col-xs-12 noPaddingLeft">
                            {{ form_row(edit_manager.email) }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-6  col-sm-12 col-xs-12 noPaddingLeft">
                            {{ form_row(edit_manager.phoneNumber) }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-6  col-sm-12 col-xs-12 noPaddingLeft">
                            <input type="submit" value="SAVE" class="btn blueBtn btn-block"/>
                        </div>
                    </div>
                    {{ form_end(edit_manager) }}
                </div>

            </div>
        </div>
    </div>


{% endblock %}
