{% extends 'base.html.twig' %}

 {% block options_css %}
     <link rel="stylesheet" href="//blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
     <link rel="stylesheet" href="{{ asset('fileupload/css/jquery.fileupload-ui.css') }}">
     <link rel="stylesheet" href="{{ asset('fileupload/css/jquery.fileupload.css') }}">
 {% endblock %}
{% block body_id 'download' %}
{% block body %}
    {% if is_granted('ROLE_USER') %}
        {% include 'default/vincheckUnderBar.html.twig' %}
    {% else %}
        <div class="container-fluid underBar">
            <div class="container">
                <div class="col-md-10 underBarContent">
                    <div class="col-md-4 pull-right">
                        <div class="row text-left">

                            <a href="#" class="btn createFileBlockBtn pull-right">
                                <span class="plusSign">+ </span> <span>ADD NEW FILE</span></a>
                        </div>
                    </div>
                    <div class="col-md-4 pull-left">
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="container containerMarginTop">
        <div class="col-md-10">
            <div class="row">
                <a href="
                 {% if is_granted('ROLE_USER') %}
                 {{ path('account_index') }}
                {% elseif  is_granted('ROLE_MANAGER') %}
                {{ path('account_manager_index') }}
                {% else %}
                 {{ path('admin_account_index') }}
                {% endif %}
                ">
                </a>
            </div>
            <div class="row animated bounceInRight">
                <div class="col-md-8">
                    <p class="filterTitle">FILES FOR DEALERS</p>
                </div>
            </div>
            <div class="col-md-12 animated zoomIn table-responsive">
                <table class="table table-hover table_underlined adminDealer">
                    <thead>
                    </thead>
                    <tbody>
                    <thead class="downloadTable">
                    <tr>
                        <th>File Name</th>
                        <th>Size</th>
                        <th>Date</th>
                        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_MANAGER') %}
                            <th>Dealer</th>
                            <th></th>
                        {% endif %}
                    </tr>
                    </thead>
                    {% if files is null or files is empty %}
                    <tr>Sorry, there is no file to download. Please contact your account manager.</tr>
                    {% else %}
                    <tbody>
                    {% for key, value in files %}
                        <tr class="animated">
                            <td>
                                <div>
                                    <a href="{{ value.webPath }}" download>
                                        <img src="{{ asset('icon/download.svg') }}" alt="img"
                                             class="pull-left download-icon ">
                                    </a>
                                    {{ value.path | capitalize }}
                                </div>
                            </td>
                            <td>
                                <p>{{ value.getFileSize() }}</p>
                            </td>
                            <td>
                                <p>{{ value.createAt| date("d-m-y") }}</p>
                            </td>
                            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_MANAGER') %}
                                <td class="relative">
                                    <a href="#" class="editFileBtn"
                                       data-id="{{ value.id }}">
                                        <img src="{{ asset('icon/user.png') }}" alt="img" class="down-icon-prev">
                                    </a>
                                    <div id="selectDealer{{ value.id }}" class="dealerCheckbox">
                                        <div class='triagle1'></div>
                                        <div class='triagle2'></div>
                                    </div>
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <span><span id="dealerFileCount{{ value.id }}">{{ value.dealers|length }}</span> dealers</span>
                                    {% endif %}
                                    {% if is_granted('ROLE_MANAGER') %}
                                        <span><span id="dealerFileCount{{ value.id }}">{{ dealer_count(value.dealers, user) }}</span> dealers</span>
                                    {% endif %}
                                </td>
                                <td>
                                    <a href="#"
                                       class="confirmDeleteBtn" data-id="{{ value.id }}"
                                       data-url="admin/file">
                                        <img src="{{ asset('icon/document-delete.png') }}" alt="img"
                                             class="down-icon-del pull-left">
                                    </a>
                                </td>
                            {% endif %}
                        </tr>
                        <tr id="confirmRow{{ value.id }}" class="confirmRow">
                            <td colspan="6" class="confirmDeleteOrder" id="confirmDelete{{ value.id }}">
                                <a href="#"
                                   class=" deleteBtn text-left pull-left" data-id="{{ value.id }}"
                                   data-url="admin/file" data-userid="{{ value.id }}">DELETE</a>
                                <span class="pull-left cancelDeleteSpan">THE FILE</span>
                                <span class="pull-right cancelDelete fa fa-times cancelDelete1"
                                      id="cancelDelete{{ value.id }}" data-id="{{ value.id }}">
                                                             </span>
                            </td>
                        </tr>
                    {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="container-fluid hidden animated slideInUp" id="newFileBlock">
        <div class="container containerMarginTop">
            <div class="col-md-10">
                <br/>
                <div class="row">
                    <a href="#"> <i class="fa fa-times closeAccount pull-left closeNewfile" aria-hidden="true"></i></a>
                    <h3>Add new file</h3>
                </div>
                <br>
                <form id="fileupload" action="//jquery-file-upload.appspot.com/" method="POST" name="newFiles"
                      enctype="multipart/form-data">
                    <div class="col-md-3"> <!-- Redirect browsers with JavaScript disabled to the origin page -->
                        <noscript><input type="hidden" name="redirect"
                                         value="https://blueimp.github.io/jQuery-File-Upload/">
                        </noscript>
                        <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
                        <div class="row fileupload-buttonbar">
                            <div class="">
                                <!-- The fileinput-button span is used to style the file input field as button -->
                                <span class=" fileinput-button">
                    <span id="inputFileText">Drop your file here</span>
                    <input type="file" name="files[]" multiple>
                    </span>
                                <label for="newInputFile" id="newInputFileLabel" class="btn blueBtn">or <b>BROWSE
                                        FILE</b></label>
                                <input type="file" id="newInputFile" name="files[]" multiple>
                            </div>
                            <!-- The global progress state -->
                            <div class="col-lg-5 fileupload-progress fade">
                                <!-- The global progress bar -->
                                <div class="progress progress-striped active" role="progressbar" aria-valuemin="0"
                                     aria-valuemax="100">
                                    <div class="progress-bar progress-bar-success" style="width:0%;"></div>
                                </div>
                                <!-- The extended global progress state -->
                                <div class="progress-extended">&nbsp;</div>
                            </div>
                        </div>
                    </div>
                    <!-- The table listing the files available for upload/download -->
                    <div class="col-md-9">
                        <h4><b>FILE LIST</b></h4>
                        <table role="presentation" class="table addNewFileSmallDev">
                            <tbody class="files"></tbody>
                        </table>
                        {#<input type="submit" value="SUBMIT" class="btn">#}
                        <div class="row fileupload-buttonbar">
                            <button type="submit" class="btn blueBtn createFileBtn start pull-right">

                                <img src="{{ asset('icon/checkmark.png') }}" alt=""> SAVE
                            </button>
                        </div>
                    </div>
                </form>
                <br>
                <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls" data-filter=":even">
                    <div class="slides"></div>
                    <h3 class="title"></h3>
                    <a class="prev">‹</a>
                    <a class="next">›</a>
                    <a class="close">×</a>
                    <a class="play-pause"></a>
                    <ol class="indicator"></ol>
                </div>
                {% verbatim %}
        <script id="template-upload" type="text/x-tmpl">
        {% for (var i=0, file; file=o.files[i]; i++) { %}
        {% var uniqName =file.name; %}
        {%  uniqName = uniqName.substring(0, uniqName.indexOf('.')); %}
        {% uniqName = uniqName+i; %}
        {%  uniqName = uniqName.replace(/\s+/g, ''); %}
        <tr class="template-upload fade">
        <!--<td>-->
        <!--<span class="preview"></span>-->
        <!--</td>-->
        <td>
        <p class="name">{%=file.name%}</p>
        <strong class="error text-danger"></strong>
        </td>
        <td>
        <p class="size">Processing...</p>
        <div class="progress progress-striped active" id="changeProgresFile" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
        <div class="progress-bar progress-bar-success" style="width:0%;"></div>
        </div>
        </td>
        <td>
        {% if (!i && !o.options.autoUpload) { %}
        <button class="btn btn-primary start hidden" disabled>
        <i class="glyphicon glyphicon-upload"></i>
        <span>Start</span>
        </button> {% } %} {% if (!i) { %}
        <!--<button class="btn btn-warning cancel">-->
        <!--<i class="glyphicon glyphicon-ban-circle"></i>-->
        <!--<span>Cancel</span>-->
        <td class="relative"><span class=" addDealerToFile" data-id="{%= uniqName %}">+ DEALER </span>
            <div id="selectDealer{%= uniqName %}" class="dealerCheckbox" > <div class='triagle1'></div><div class='triagle2'></div></div>
        </td>
        <td>|</td>
        <td><img src="../../icon/user.png" alt="img" class="pull-left del-icon-user "> <span class="dealerNumberFile">0</span> dealers</td>

         <td><img src='../../icon/document-delete.png' alt="img" class="down-icon-del cancel pull-right">
         {% } %}
        </td>


        </tr>
        {% } %}


        </script>

        <!-- The template to display files available for download -->
        <script id="template-download" type="text/x-tmpl">
        {% for (var i=0, file; file=o.files[i]; i++) { %}
        <tr class="template-download fade">
        <!--<td>-->
        <!--<span class="preview">-->
        <!--{% if (file.thumbnailUrl) { %}-->
        <!--<a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery><img src="{%=file.thumbnailUrl%}"></a>-->
        <!--{% } %}-->
        <!--</span>-->
        <!--</td>-->
        <td>
        <p class="name">
        {% if (file.url) { %}
        <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" {%=
        file.thumbnailUrl? 'data-gallery': ''%}>{%=file.name%}</a> {% } else { %}
        <span>{%=file.name%}</span> {% } %}
        </p>
        {% if (file.error) { %}
        <div><span class="label label-danger">Error</span> {%=file.error%}</div>
        {% } %}
        </td>
        <td>
        <span class="size">{%=o.formatFileSize(file.size)%}</span>
        </td>
        <td>
        {% if (file.deleteUrl) { %}
        <button class="noBtn delete" data-type="{%=file.deleteType%}" data-url="{%=
        file.deleteUrl%}" {% if (file.deleteWithCredentials) { %} data-xhr-fields='{"withCredentials":true}' {% } %}>
         <img src='../../icon/document-delete.png' alt="img" class="down-icon-del" >
        </button>



        <!--<input type="checkbox" name="delete" value="1" class="toggle">-->
         {% } else { %}
        <button class="btn btn-warning cancel">
        <i class="glyphicon glyphicon-ban-circle"></i>
        <span>Cancel</span>
        </button> {% } %}
        </td>
        </tr>
        {% } %}


        </script>
        {% endverbatim %}
            </div>
        </div>
    </div>


{% endblock %}
{% block options_js %}
    <script src=" {{ asset('fileupload/js/vendor/jquery.ui.widget.js') }}"></script>
    <script src="//blueimp.github.io/JavaScript-Templates/js/tmpl.min.js"></script>
    <!-- The Load Image plugin is included for the preview images and image resizing functionality -->
    <script src="//blueimp.github.io/JavaScript-Load-Image/js/load-image.all.min.js"></script>
    <!-- The Canvas to Blob plugin is included for image resizing functionality -->
    <script src="//blueimp.github.io/JavaScript-Canvas-to-Blob/js/canvas-to-blob.min.js"></script>
    <script src="//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
    <script src=" {{ asset('fileupload/js/jquery.iframe-transport.js') }}"></script>
    <script src=" {{ asset('fileupload/js/jquery.fileupload.js') }}"></script>
    <script src=" {{ asset('fileupload/js/jquery.fileupload-process.js') }}"></script>
    <script src=" {{ asset('fileupload/js/jquery.fileupload-image.js') }}"></script>
    <script src=" {{ asset('fileupload/js/jquery.fileupload-audio.js') }}"></script>
    <script src=" {{ asset('fileupload/js/jquery.fileupload-video.js') }}"></script>
    <script src=" {{ asset('fileupload/js/jquery.fileupload-validate.js') }}"></script>
    <script src=" {{ asset('fileupload/js/jquery.fileupload-ui.js') }}"></script>
    <script src=" {{ asset('fileupload/js/main.js') }}"></script>



{% endblock %}