{% extends 'base.html.twig' %}

{% block body %}

    <div class="container-fluid underBar">
        <div class="container">
            <div class="row">
                <div class="col-md-10  dealerProfileLeftBlock  noPaddingLeft noPaddingRight underBarContent">
                    <div class="col-md-6  btn no-hover no-cursor ">
                        <span class="underBarContentText">Account</span>
                        <span class="lineBread underBarContentText">|</span>

                        <span>Dealer list</span>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="container containerMarginTop">
        <div class="col-md-10">
            <br>
            <p id="seeAllDealersP">RECENTLY ADDED DEALERS</p>
            <p id="recentlyAddedDealersP" class="hidden">ALL DEALERS</p>
            <div class="col-md-12 animated zoomIn noPaddingRight noPaddingLeft">
                <div id="showDealers" class=" exportUp table-responsive">
                    <table data-toggle="table"
                            {#data-search="true"#}
                           data-url="false"
                           data-filter-control="true"
                           data-filter-show-clear="true"
                           class="table allDealersTable adminDealer tableExport header-fixed">
                        {% spaceless %}
                            <thead>
                            <tr>
                                <th data-sortable="true"
                                    data-field="name"
                                    data-sorter="nameSorter"

                                >Name
                                </th>
                                <th data-field="status" data-filter-control="select"
                                    data-filter-control-default="live">Status
                                    {#<img src="{{ asset('icon/list.png') }}" alt="" id="showStatusList">#}
                                    {#<div class="statusList hidden">#}
                                        {#<a href="#" class="tableFilter" data-name="BRONZE"><p>BRONZE</p></a>#}
                                        {#<a href="#" class="tableFilter" data-name="SILVER"><p>SILVER</p></a>#}
                                        {#<a href="#" class="tableFilter" data-name="GOLD"><p>GOLD</p></a>#}
                                        {#<a href="#" class="tableFilter" data-name="PLATINUM"><p>PLATINUM</p></a>#}
                                        {#<a href="#" class="tableFilter" data-name=""><p>ALL</p></a>#}
                                    {#</div>#}
                                </th>
                                <th data-sortable="true">Order Value</th>
                                <th data-sortable="true" data-sorter="expiredSorter">Expire time</th>
                                <th class="hidden">Contact Person</th>
                                <th class="hidden">Address</th>
                                <th class="hidden">City</th>
                                <th class="hidden">Zip</th>
                                <th class="hidden">Country</th>
                                <th class="hidden">State</th>
                                <th class="hidden">E-mail</th>
                                <th class="hidden">Support e-mail</th>
                                <th class="hidden">Website</th>
                                <th class="hidden">Phone number</th>
                            </tr>
                            </thead>
                            <tbody>
                            {%- for key, value in dealers -%}
                            <tr>
                                <td>
                                    <a href="{{- path('account_dealer_profile', { 'id': value.id }) }}">
                                        {{- value.company -}}
                                    </a>
                                </td>
                                {%- set sum = 0 %}
                                {%- for ordKey, ordValue in value.orders %}
                                    {%- set sum=sum+ordValue.cost %}
                                {%- endfor -%}
                                <td class="statusIcon{{- value.status -}}">
                                    {{- value.status -}}</td>
                                <td class="dealerValue">{{- sum -}}</td>
                                <td>
                                    {{- value.calcExpiredDate() -}}
                                </td>
                                <td class="hidden">{{- value.userName -}}</td>
                                <td class="hidden">{{- value.address -}}</td>
                                <td class="hidden">{{- value.city -}}</td>
                                <td class="hidden">{{- value.zip -}}</td>
                                <td class="hidden">{{- value.country -}}</td>
                                <td class="hidden">{{- value.state -}}</td>
                                <td class="hidden">{{- value.email -}}</td>
                                <td class="hidden">{{- value.supportEmail -}}</td>
                                <td class="hidden">{{- value.website -}}</td>
                                <td class="hidden">{{- value.phone -}}</td>

                                {%- endfor -%}
                            </tbody>
                        {% endspaceless %}
                    </table>
                </div>
            </div>
            <div class="col-md-12 noPaddingRight">

                <div class="row">
                    <div class="col-md-1 col-sm-1 "></div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <button id="seeAllDealersBtn" class="seeManagerDealers btn blueBtn btn-block hidden"
                                data-resently="true"
                        ><img src="../../icon/clock.png" alt="" class="iconRightPadding">RECENTLY ADDED
                        </button>
                        <button id="recentlyAddedDealersBtn" class="seeManagerDealers btn blueBtn btn-block "
                                data-resently="false"
                        ><img src="../../icon/user-group.png" alt="" class="iconRightPadding">ALL DEALERS
                        </button>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <button id="showExportData" data-show="true" class="btn blueBtn btn-block">
                            {#<i class="iconExport"></i>#}
                            <img src="../../icon/export.png" alt="" class="iconRightPadding">EXPORT DATA
                        </button>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12 noPaddingRight noPaddingLeft text-center pull-right totalValue  dealersTotalVal">

                        <h5><b>TOTAL VALUE:<span id="totalOrderSum"> $ {{ totalValue }}</span></b></h5>

                    </div>
                </div>


            </div>
        </div>
    </div>
{% endblock %}
