{% extends 'base.html.twig' %}

{% block body %}

    <div class="container-fluid underBar">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 dealerProfileLeftBlock  noPaddingLeft noPaddingRight ">
                    <div class="row ">
                        <form class="form-inline col-md-12 col-sm-12 col-xs-12" action="{{ path('vincheck_index') }}"
                              method="GET">
                            <div class=" col-md-3 col-sm-7 col-xs-7 noPaddingRight">
                                <div class=" col-md-12 col-sm-12 col-xs-12 noPaddingRight">
                                    <input type="text" class="form-control" id="inputCheckVin" name="vin"
                                           placeholder="Enter your VIN - beta version" required
                                           pattern="^[a-zA-Z0-9]{7,17}$"
                                    >
                                </div>
                            </div>
                            <div class=" col-md-2 col-sm-2 col-xs-5">
                                <button type="submit" class="btn blueBtn btn-block checkVinBtn "><b>SUBMIT</b></button>
                            </div>
                            <div class=" col-md-2 col-sm-2 col-xs-5 pull-right">
                                <a class="btn blueBtn btn-block couponBtn " id="dealerCouponBtn"><b>PROMOTION</b></a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container containerMarginTop">
        <div class="col-md-7 animated slideInLeft dealerLeftBlock">

            <div class="col-md-12 " id="dealerOrders">
                <div class=" table-responsive">
                    <table data-toggle="table"
                           data-search="false"
                           data-url="false"
                           class="table adminDealer dealerTable  header-fixed ">
                        <thead>
                        <tr>
                            <th data-sortable="true" data-sorter="onlyDateSort">Date</th>
                            <th data-sortable="true " data-sorter="onlyNumberSort">List Value</th>
                            <th data-sortable="true" data-sorter="onlyNumberSort">Order cost</th>
                            <th>Number of items</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for key, value in user.orders %}
                            <tr class="animated">
                                <td>{{ value.createAt|date("d-m-y") }}</td>
                                <td>${{ value.value }}</td>
                                <td>${{ value.cost }}</td>
                                <td>{{ value.itemNumber }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 noPadding ">
                    <div class=" col-lg-4 col-md-5 col-sm-10 col-xs-12  pull-left ">
                        <h5><b>Total value:</b> ${{ user.getOrdersTotalSum() }}</h5>
                    </div>
                </div>
            </div>


            <div class="col-md-12 newsDealerBlock">
                <hr>
                <p class="serifFont"> Latest News</p>
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                                {% for i in 0..2 %}
                                    {% if news[i] is defined %}
                                        <div class="sliderNews col-lg-4 col-md-4 col-sm-4 col-xs-12  ">
                                            <a href="{{ path('blog_post',{'slug':news[i].slug}) }}"
                                               class="thumbnailPhoto col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                                                <img src="{{ news[i].getWebPath() }}" alt="">
                                            </a>
                                            <p class="newsDate"> {{ news[i].category }}</p>
                                            <a href="{{ path('blog_post',{'slug':news[i].slug}) }}">
                                                <p class="serifFont"><b>{{ news[i].title }}</b></p>
                                            </a>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        {% if news[3] is defined %}
                            <div class="item">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                                    {% for i in 3..5 %}
                                        {% if news[i] is defined %}
                                            <div class="sliderNews col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
                                                <a href="{{ path('blog_post',{'slug':news[i].slug}) }}"
                                                   class="thumbnailPhoto col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <img src="{{ news[i].getWebPath() }}" alt="">
                                                </a>
                                                <p class="newsDate"> {{ news[i].category }}</p>
                                                <a href="{{ path('blog_post',{'slug':news[i].slug}) }}">
                                                    <p class="serifFont"><b>{{ news[i].title }}</b></p>
                                                </a>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                        {% if news[6] is defined %}
                            <div class="item">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                                    {% for i in 6..9 %}
                                        {% if news[i] is defined %}
                                            <div class="sliderNews col-lg-4 col-md-4 col-sm-4 col-xs-12  ">
                                                <a href="{{ path('blog_post',{'slug':news[i].slug}) }}"
                                                   class="thumbnailPhoto col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <img src="{{ news[i].getWebPath() }}" alt="">
                                                </a>
                                                <p class="newsDate"> {{ news[i].category }}</p>
                                                <a href="{{ path('blog_post',{'slug':news[i].slug}) }}">
                                                    <p class="serifFont"><b>{{ news[i].title }}</b></p>
                                                </a>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                    </div>

                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>

            </div>
        </div>

        <div id="dealerManager" class="animated col-lg-5 col-md-5 col-sm-12 col-xs-12 slideInRight ">
            <div class="dealerManagerAccount right">

                <div class="row dealerInfoRight col-lg-12 col-md-12  col-sm-6 col-xs-12 ">


                    {% for key, value in status %}
                        {% set class = "blackColorTxt" %}
                        <div id="tab-{{ key }}" class="tab-content
                            {% if value.name ==user.status %}
                            current
                            {% set class ="blueColorTxt" %}
                            {% endif %}
                            ">
                            {% set title = user.calcDealerTitleStatus(value.name) %}
                            <div class=" text-center ">

                                {% if title == false and user.status !='BRONZE' %}
                                    <div class="dealerStatusTitle activeStatus">
                                        <h2><b>{{ user.status }}</b></h2>
                                        <p>Expired: {{ user.calcExpiredTime|date('d/m/y') }}</p>
                                    </div>
                                {% else %}
                                    <div class="dealerStatusTitle ">
                                        {% if user.status =='BRONZE' and value.name=='BRONZE' %}
                                            <h2><b class="{{ class }}">{{ value.name }}</b></h2>
                                        {% else %}
                                            <h2>{{ title|raw }} </h2>
                                            <p><b>{{ value.name }}</b></p>
                                        {% endif %}
                                    </div>
                                {% endif %}
                                {% if value.discount is defined %}
                                    <div class="statusDiscount text-left">
                                        <p class="statusDiscountTitle {{ class }}">
                                            <b>{{ value.name }} discount</b></p>
                                        <ul>
                                            {% for key, value in value.discount %}
                                                <li>{{ value.value }}% off {{ value.description }}</li>
                                            {% endfor %}

                                        </ul>
                                    </div>
                                {% endif %}
                                {% if value.benefit[0] is defined %}
                                    <div class="dealerBenefits text-left">
                                        <p class="dealerBenefitsTitle {{ class }}"><b>{{ value.name }} benefits</b></p>
                                        <ul>
                                            {% for key, value in value.benefit %}
                                                <li>{{ value.description }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                {% endif %}

                                <div class="standardBenefits text-left">
                                    <p class="standardBenefitsTitle {{ class }}"><b> Standard benefits</b></p>
                                    <ul>
                                        <li>Listing on the BimmerTech dealer page.</li>
                                        <li>Dedicated sales representative.</li>
                                        <li>Priority technical support.</li>
                                        <li>Free shipping.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <ul class="tabs col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <li class=" text-center tab-link col-lg-3 col-md-3 col-sm-3 col-xs-3
                        {% if user.status  =="BRONZE" %}
                            current noFilter
                            {% endif %}
                            " data-tab="tab-0">
                            <span class="helperAlign">
                                <img src="{{ asset('../icon/status-bronze.png') }}" alt="">
                            </span>
                        </li>
                        <li class=" text-center tab-link col-lg-3 col-md-3 col-sm-3 col-xs-3
                            {% if user.status  =="SILVER" %}
                            current noFilter
                            {% endif %}
                            " data-tab="tab-1">
                            <span class="helperAlign">
                                <img src="{{ asset('../icon/status-silver.png') }}"
                                     alt="">
                            </span>
                        </li>
                        <li class="text-center tab-link col-lg-3 col-md-3 col-sm-3 col-xs-3
                             {% if user.status  =="GOLD" %}
                                  current noFilter
                              {% endif %}
                                " data-tab="tab-2">
                            <span class="helperAlign">
                                <img src="{{ asset('../icon/status-gold.png') }}" alt="">
                            </span>
                        </li>
                        <li class="text-center tab-link col-lg-3 col-md-3 col-sm-3 col-xs-3
                        {% if user.status  =="PLATINUM" %}
                            current noFilter
                            {% endif %}
                            " data-tab="tab-3">
                            <span class="helperAlign ">
                                <img src="{{ asset('../icon/status-platinum.png') }}"
                                     alt="">
                            </span>
                        </li>

                    </ul>
                </div>
                <br>
                <br>
                {% if user.userManager %}
                    <div class="row col-lg-12 col-md-12 col-sm-6 col-xs-12 ">

                        <hr>
                        <div class="row dealerInfoRight">
                            <div class="col-xs-8 col-xs-offset-2  profileFoto profileFotoMobile">
                                <img src="{{ user.userManager.webPath }}" alt="">
                                <br>
                            </div>
                            <div class="col-md-8 col-sm-12 col-xs-12  statusText">
                                <p class="text-left"><b> {{ user.userManager.username }}</b></p>
                                {#<p class="text-left">{{ user.userManager.email }}</p>#}
                                <p class="text-left">{{ user.userManager.phoneNumber }}</p>
                                <br>
                                <p class="text-left">I'm your account manager.</p>
                                <p class="text-left">Let me know if you have any questions.</p>
                            </div>
                            <div class="col-md-4 col-sm-3 col-xs-3 profileFoto profileFotoDesktop">
                                <img src="{{ user.userManager.webPath }}" alt="">
                            </div>
                        </div>
                        <br>
                        <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                            <form action="" id="sendManager">
                                {#<input type="text" value="{{ user.userManager.email }}" hidden>#}
                                <textarea name="" id="" cols="30" rows="4" minlength="10"
                                          class="btn-block form-control" required placeholder="Message*"></textarea>
                                <br>
                                <div class="col-md-4 noPadding">
                                    <button type="submit" class="btn blueBtn btn-block "> SEND</button>
                                </div>
                            </form>
                        </div>
                    </div>
                {% endif %}
                <br>
            </div>

        </div>
    </div>
    <div id="dealerCouponBlock"
         class="animated col-md-6 col-sm-6 col-xs-10 hidden slideInRight noPaddingRight noPaddingLeft">
        <div class=" noPaddingRight noPaddingLeft submenu">
            <ul class="nav navbar-nav col-lg-10 col-md-10 col-sm-12 col-xs-12">
                <li>
                    <div class="blockCloseBtn col-md-1 noPaddingRight noPaddingLeft">
                        <i class="fa fa-times closeAccount" aria-hidden="true"></i>
                    </div>
                </li>

                <li class="pull-left">
                    <div class="personalInfoTitle"><span>Promotions</span></div>
                </li>

            </ul>
        </div>
        <div class="accountBlock  col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <div class="col-md-12 whiteColor">
                <h5>Offer your customers and potential customers a promotional discount coupon to use when buying
                    BimmerTech products from you.</h5>
                <h5>Place your order request online through <a href="{{ path('vincheck_index') }} " class="whiteColor"
                                                               style="text-decoration: underline ">the
                        VIN check
                        page</a> and we will cover the cost of discounts offered
                    on parts. Installation discounts are optional and will be covered by the dealer.</h5>
                <br>
                <br>
            </div>

            {% for key, value in coupons %}
                <div class="row ">
                    <div class="col-md-12">
                        <div class="col-md-9">
                            <h5 class="whiteColor"> {{ value.name }}</h5>
                        </div>
                        <div class="col-md-3">
                            <a href="{{ value.webPath }} " target="_blank"
                               class="btn btn-block blueBtn couponBtn" style="top: 0;">PRINT </a>
                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>
    </div>

{% endblock %}


{% block options_js %}
    <script>
        $(document).ready(function () {
            $('ul.tabs li').click(function () {
                var tab_id = $(this).attr('data-tab');

                $('ul.tabs li').removeClass('current');
                $('.tab-content').removeClass('current');

                $(this).addClass('current');
                $("#" + tab_id).addClass('current');


            });
            var tabHeight = $('#tab-3').height();
            $('#tab-2').height(tabHeight);
            $('#tab-1').height(tabHeight);
            $('#tab-0').height(tabHeight);
            $('#dealerOrders').height(tabHeight + 112);

            setTimeout(function () {
                $('tbody').niceScroll({
                    cursorcolor: "#757575",
                    cursorwidth: "15px",
                    background: "#e0e0e0",
                    cursorborder: "none",
                    cursorborderradius: 0,
                    autohidemode: false

                });
            }, 1000)


        });
        $(window).resize(function () {
            console.log('change');
            squareNews();
            latestNews();
            squarePhoto('.profileFotoMobile');
            squarePhoto('.profileFotoDesktop');
            var tabHeight = $('#tab-3').height();
            $('#tab-2').height(tabHeight);
            $('#tab-1').height(tabHeight);
            $('#tab-0').height(tabHeight);
            $('#dealerOrders').height('auto');
            $('#dealerOrders').css('padding-bottom', '20px');
        });

    </script>




{% endblock %}
