{% extends '::base.html.twig' %}

{% block title %}Set new password{% endblock %}

{% block body %}
    <div class="container">
        <br>
        <p>To set your new password for the BimmerTech Dealer Platform, please enter it below.</p>
        {{ form_start(form, {'action': path('api_resetting_reset', {'confirmationToken': confirmationToken}), 'method': 'POST'}) }}
        {{ form_widget(form) }}

        <input type="submit" value="Reset" class="btn btn-default pull-right"/>
        {{ form_end(form) }}
    </div>
{% endblock %}