{% extends '::base.html.twig' %}

{% block title %}Set new password{% endblock %}

{% block body %}
    <div class="container">
        <div class="alert alert-success container" role="alert">{{ 'message.resetting.reset.success' | trans }}</div>
        <br>
        <div class="col-md-2">
            <a href="{{ path('homepage') }}" class="btn btn-info  btn-block">Log in now</a>
        </div>
    </div>
{% endblock %}