{% extends 'base.html.twig' %}

{% block body_id 'blog_index' %}

{% block main %}
    {#{% if is_granted('ROLE_USER') %}#}
    {% include 'default/vincheckUnderBar.html.twig' %}
    {#{% else %}#}
    {#<div class="container-fluid underBar">#}
    {#<div class="container">#}
    {#<div class="row">#}
    {#<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 underBarContent newsBtns">#}
    {#<a href="{{ path('blog_index') }}" class="btn blueBtn#}
    {#{% if app.request.get('type') ==null %}activeNews {% endif %}">ALL</a>#}
    {#<a href="{{ path('blog_index',{'type':'news'}) }}" class="btn blueBtn#}
    {#{% if app.request.get('type') =='news' %}activeNews {% endif %}">NEWS</a>#}
    {#<a href="{{ path('blog_index',{'type':'promotion'}) }}" class="btn blueBtn#}
    {#{% if app.request.get('type') =='promotion' %}activeNews {% endif %}">PROMOTIONS</a>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
    {#{% endif %}#}
    <div class="container animated fadeIn  ">

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

            {% if(feature !=null) %}

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 firstArticle">
                    <div class="articleItem">
                        <div class="col-lg-12 col-md-12 col-sm-12 noPadding thumbnailPhoto">
                            <a href="{{ path('blog_post',{'slug':feature.slug}) }}">
                                <img class="newImgBgr" src="{{ feature.webPath }}" alt="no img">
                            </a>
                        </div>
                        <div class=" col-lg-12  col-md-12 col-sm-12     col-xs-12 smallNewsContent postListContent">
                            <p class="text-left newsDate">{{ feature.category }}
                                | {{ feature.publishedAt|date('d F Y') }}</p>
                            <p class="text-left p24">
                                <a href="{{ path('blog_post',{'slug':feature.slug}) }}"><b
                                            class="serifFont">{{ feature.title }}</b></a>
                            </p>
                            <p class="p18 postSummary serifFont">{{ feature.summary }}</p>
                            <br>
                            <p class="text-left postAuthor"><img class="greyCircle">{{ feature.author }}</p>
                        </div>
                    </div>
                </div>

            {% endif %}
            {% for key, post in posts %}

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 otherArticle">
                    <div class="articleItem">
                        <div class="col-lg-12 col-md-12 col-sm-12 noPadding thumbnailPhoto">
                            <a href="{{ path('blog_post',{'slug':post.slug}) }}">
                                <img class="newImgBgr" src="{{ post.webPath }}" alt="no img">
                            </a>
                        </div>
                        {% if post.type is same as('news') or  post.type is same as('feature') %}
                            <div class="col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 col-sm-10  col-sm-offset-1  col-xs-offset-1 col-xs-10 smallNewsContent postListContent">
                                <p class="text-left newsDate">{{ post.category }}
                                    | {{ post.publishedAt|date('d F Y') }}</p>
                                <p class="text-left p24">
                                    <a href="{{ path('blog_post',{'slug':post.slug}) }}"><b
                                                class="serifFont">{{ post.title }}</b></a>
                                </p>
                                <p class="p18 postSummary serifFont">{{ post.summary }}</p>
                                <br>
                                <p class="text-left postAuthor"><img class="greyCircle">{{ post.author }}</p>
                            </div>
                        {% else %}
                            <div class="col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 col-sm-10 col-xs-10 col-sm-offset-1  col-xs-offset-1 smallNewsContent postListContent promotionContent">
                                <p class="text-left p24">
                                    <a href="{{ path('blog_post',{'slug':post.slug}) }}"><b
                                                class="serifFont">{{ post.title }}</b></a>
                                </p>
                                <p class="p18 postSummary serifFont">{{ post.summary }}</p>
                                <br>
                                <br>
                                <div class="postAuthor text-center ">
                                    <a href="{{ path('blog_post',{'slug':post.slug}) }}" class="btn blueBtn">GET</a>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>

            {% else %}
                <div class="well">{{ 'No posts found.' }}</div>
            {% endfor %}
            {% if posts.haveToPaginate %}
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="navigation text-center">
                        {{ pagerfanta(posts, 'twitter_bootstrap3_translated', {routeName: 'blog_index_paginated'}) }}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}


