{% extends 'base.html.twig' %}

{% block body_id 'blog_post_show' %}

{% block main %}
    {% if is_granted('ROLE_USER') %}
        {% include 'default/vincheckUnderBar.html.twig' %}
    {% else %}
        <div class="container-fluid underBar">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  newsBtns">
                        <a href="{{ path('blog_index') }}" class="btn blueBtn">ALL</a>
                        <a href="{{ path('blog_index',{'type':'news'}) }}" class="btn blueBtn">NEWS</a>
                        <a href="{{ path('blog_index',{'type':'promotion'}) }}" class="btn blueBtn">PROMOTIONS</a>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 firstArticle">
            <div class=" col-lg-12 col-md-12 col-sm-12  col-xs-12 contentNewsBlock ">
                <div class="row">
                    <br>
                    <h4 class="text-center newsDate">{{ post.category }} | {{ post.publishedAt|date('d F Y') }}</h4>
                    <h1 class="text-center"><b>{{ post.title }}</b></h1>
                    {#| {{ post.content|md2html }}#}
                </div>
            </div>

            <div class="thumbnailPhoto col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                <img class="newImgBgr" src="{{ post.webPath }}" alt="no img">
            </div>
            <div class="col-lg-12  col-md-12  col-sm-12 col-xs-12 ">
                <div class="row newsContent">
                    <p class="serifFont">{{ post.content|raw }}</p>
                </div>
            </div>
            <div class="col-lg-12  col-md-12  col-sm-12 col-xs-12 ">
                <div class="row ">
                    <p class="text-center"><img class="greyCircle">{{ post.author }}</p>
                </div>
                <hr/>
            </div>
            <br>
        </div>
    </div>

    <div class="col-lg-12 col-md-12">
        <h4 class="text-center"><b>Related Articles</b></h4>
        <br>
        <div class="row">
            {% for article in articles %}


                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 otherArticle">

                    <div class="articleItem">
                        <div class="col-lg-12 col-md-12 col-sm-12 noPadding thumbnailPhoto">
                            <a href="{{ path('blog_post',{'slug':article.slug}) }}">
                                <img class="newImgBgr" src="{{ article.webPath }}" alt="no img">
                            </a>
                        </div>

                        <div class="col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 col-sm-10  col-sm-offset-1  col-xs-offset-1 col-xs-10 smallNewsContent postListContent">
                            <p class="text-left newsDate">{{ article.category }}
                                | {{ article.publishedAt|date('d F Y') }}</p>
                            <p class="text-left p24">
                                <a href="{{ path('blog_post',{'slug':article.slug}) }}"><b
                                            class="serifFont">{{ article.title }}</b></a>
                            </p>
                            <p class="p18 postSummary serifFont">{{ article.summary }}</p>
                            <br>
                            <p class="text-left postAuthor"><img class="greyCircle">{{ article.author }}</p>
                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>
    </div>
{% endblock %}