{% block subject %}
    {% autoescape false %}
        {{ 'email.registration.confirmation.subject' | trans }}
    {% endautoescape %}
{% endblock %}

{% block body_html %}
    {{ 'email.registration.confirmation.body' | trans }}
    <a href="{{ url('api_register_confirm', {'confirmationToken': token}) }}">
        {{ url('api_register_confirm', {'confirmationToken': token}) }}
    </a>
{% endblock %}