{% block subject %}
    {% autoescape false %}
        Reply to {{ article }}
    {% endautoescape %}
{% endblock %}

{% block body_html %}
    <p>{{ message }}</p>
    <p>Click to <a href="mailto:{{ mail }}">ANSWER</a></p>
{% endblock %}

