{% block subject %}
    {% autoescape false %}
        {#{{ 'email.resetting.reset.subject' | trans }}#}
        Reset your BimmerTech password
    {% endautoescape %}
{% endblock %}

{% block body_html %}
    <p>We have received a request to reset your password for the BimmerTech Dealer Platform.
        Please click here to reset your password:
        <a href="{{ url('api_resetting_reset', {'confirmationToken': token}) }}">
            {{ url('api_resetting_reset', {'confirmationToken': token}) }}
        </a>
    </p>
    <p>
        If you did not request that your password be reset, please contact us at <a href="mailto:dealers@bimmer-tech.net">dealers@bimmer-tech.net</a>.
    </p>
{% endblock %}