{% block subject %}
    {% autoescape false %}
        BimmerTech order request submitted
    {% endautoescape %}
{% endblock %}

{% block body_html %}

    <div style="max-width:400px ">
        <p> The following product order request has been successfully submitted:</p>
        <br>
        <p> Order request — {{ company }}</p>
        <p style="text-align: right">{{ address }}</p>
        <p style="text-align: right"> {{ email }}</p>
        <p style="text-align: right"> {{ phone }}</p>
        <br>
        <p> For vehicle: {{ vin }}</p>
        <br>
        <table style="border-collapse:collapse;width: 100%;">
            <tbody>
            {%- set total = 0 %}
            {% for key, value in products %}
                {%- set total=total+value.price %}
                <tr>
                    <td style="border:  1px solid #9e9e9e">{{ value.name }}</td>
                    <td style="border:  1px solid #9e9e9e; text-align: right">${{ value.price|number_format(2) }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td style="text-align: right;border: 1px solid #9e9e9e">Cost to you:</td>
                <td style="border:  1px solid #9e9e9e; text-align: right">${{ total|number_format(2) }}</td>
            </tr>
            </tbody>
        </table>
        {% if comment %}
            <p>Comments:</p>
            <p>{{ comment }}</p>
        {% endif %}
        <br>
        <p> Your account manager will contact you soon to confirm your order.</p>
    </div>
{% endblock %}