{% block subject %}
    {% autoescape false %}
        "Message from {{ dealer }}
    {% endautoescape %}
{% endblock %}

{% block body_html %}

    <p>Message: {{ message }}</p>
    <p>Click to <a href="mailto:{{ mail }}">ANSWER</a></p>
{% endblock %}