{% block subject %}
    {% autoescape false %}
        BimmerTech Partnership Status expiring on {{ date|date("F d") }}
    {% endautoescape %}
{% endblock %}

{% block body_html %}


    <p> Hi {{ name }},</p>

    <p> Please be advised that based on {{ company }}'s order history over the last 60 days, your {{ status }}-level
        BimmerTech Partner Status is set to expire on <b>{{ date|date("F d") }}</b>.</p>

    <p> If no new qualifying orders have been placed by this date, {{ company }}'s Partner Status will be downgraded
        to {{ newstatus }}. This will see your maximum discount on our products drop from {{ discount }}%
        to {{ newdiscount }}%.
    </p>
    <p> For more information, please consult our Dealer Handbook:
        <a href="https://www.bimmer-tech.net/DealershipProgram/DealershipProgram.pdf">https://www.bimmer-tech.net/DealershipProgram/DealershipProgram.pdf</a>
    </p>

    <p> If you have any questions, please get in touch. We'll be happy to help.</p>
    <br>
    <p> Dealer Satisfaction Team</p>
    <p> BimmerTech</p>

{% endblock %}


