@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700');

/* Basic styles
   ------------------------------------------------------------------------- */

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.filterControl select {
    position: absolute;
    width: 5px !important;
    height: 5px;
    background: url("/icon/list.png") no-repeat;
    border: none;
    cursor: pointer;
}

.fht-cell {
    display: table-cell;
    padding-top: 15px;
    width: 100%;
    left: 0;
    position: relative;
}

.th-inner {
    display: table-cell;
}

#loading {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: block;
    /*opacity: 0.7;*/
    background-color: #fff;
    z-index: 99;
    text-align: center;
}

#loading-image {
    position: absolute;
    top: calc(50% - 32px);
    left: calc(50% - 32px);
    z-index: 100;
}

/*chrome autocomplite yellow background*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    /*background-color: transparent !important;*/
}

.p24 {
    font-size: 24px;
}

.p18 {
    font-size: 18px;
}

.p16 {
    font-size: 16px;
}

.p14 {
    font-size: 14px;
}

.p48 {
    font-size: 48px;
}

.padB5 {
    padding-bottom: 5px !important;
}

.padTop11 {
    padding-top: 11px;
}

.serifFont {
    font-family: 'PT Serif', serif;
}

#spinner {
    width: 100%;
    height: 114%;
    background: #dbdbff;
    position: absolute;
    z-index: 99999999;
    opacity: 0.8;
}

.menuMargin {
    padding-left: 7% !important;
}

p, ul, ol {
    font-size: 14px;
    /*margin-bottom: 1.5em*/
}

li {
    margin-bottom: 0.5em
}

code {
    background: #ecf0f1;
    color: #2c3e50
}

.text-danger, .text-danger:hover {
    color: #e74c3c
}

.notification .danger-block {
    background: #0cebc7 !important;
    color: #212121 !important;
}

.notification .danger-block:hover {
    opacity: 0.8;
    color: #FFFFFF !important;
}

label {
    color: #00acc1;
}

i {
    margin-right: 0.25em
}

a {
    color: #212121;
}

a:hover {
    color: #07bed5;
}

a:focus {
    color: #FFFFFF;
    text-decoration: none;
}

.relative {
    position: relative;
}

.table.table-middle-aligned th,
.table.table-middle-aligned td {
    vertical-align: middle;
}

.btn {
    padding-top: 8px;
    padding-bottom: 8px;
}

.table {
    margin-bottom: 0px;
}

.container-fluid {
    margin: 0;
    padding: 0;
    flex: 1;
    background: #fff;
}

.table-responsive {
    border: 0;
}

.width-md {
    width: 20%;
    float: left;
    padding: 0 10px;

}

.width80 {
    width: 80%;
}

.no-hover:hover {
    color: inherit !important;
}

.no-cursor {
    cursor: default !important;
}

.row {
    margin: 0;
}

.overflow {
    overflow: auto;
}

.iconExport {
    background: url("../icon/icon_export.png") no-repeat;
    width: 20px;
    display: inline-block;
    height: 20px;
    vertical-align: middle;
}

.noPadding {
    padding: 0;
}

.noPaddingLeft {
    padding-left: 0;
}

.noPaddingRight {
    padding-right: 0;
}

.whiteColor {
    /*color: #d7d7d7;*/
    color: #fff;
}

a.whiteColor:visited {
    color: #fff;
}

.line {
    margin: 20px;
    /*margin: 20px 0px;*/
    color: #848484;

}

#account .line {
    color: #fff;
}

.greyTxt, .navbar-default .navbar-nav > li > .greyTxt {
    color: #9e9e9e;
}

.containerMarginTop {
    /*margin-top: 10%;*/
}

.mainColor {
    color: #026873;
}

a:visited {
    color: #00838f;
}

a:visited:hover {
    color: #07bed5;
}

.required:after {
    content: "*";
    color: red;
}

#newOrder .required:after, #editOrder .required:after {
    content: '';
}

.logoImg {

    margin-right: 5px;
    -vendor-animation-duration: 9s;
    -vendor-animation-delay: 9s;
    -vendor-animation-iteration-count: infinite;
}

.navbar-nav > li > .aLogoImg {
    padding: 14px 0;
}

.notification a {
    background: #e0e0e0;
    color: #fff;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    margin-top: 13px;
    text-align: center;
    padding: 1px !important;
    top: 6px;
}

header .navbar {
    background: #212121;
    color: #ffffff;
    /*display: flex;*/
}

.form-control, input {
    border-width: 1px;
}

/* Utilities
   ------------------------------------------------------------------------- */
.m-b-0 {
    margin-bottom: 0
}

.scroll-pane {
    width: 100%;
    height: 120px;
    overflow: auto;
}

.jspVericalBar {
    background-color: rgba(224, 224, 224, 0.5);
}

.jspDrag {
    background-color: #00838f;
}

.tableexport-caption {
    /*display: none;*/
    width: 25%;
    position: absolute;
    left: 50%;
    bottom: -5%;

}

.exportUp .tableexport-caption {
    /*display: none;*/
    width: 25%;
    position: absolute;
    /*left: 46%;*/
    /*top: -7%;*/

}

.youAreBRONZE:before {
    background: url("../icon/status-bronze.png") no-repeat;
    content: '';
    position: absolute;
    width: 100%;
    height: 60%;
    left: -45px;
    background-size: contain;
    top: 12px;
}

.youAreSILVER:before {
    background: url("../icon/status-silver.png") no-repeat;
    content: '';
    position: absolute;
    width: 100%;
    height: 70%;
    left: -65px;
    background-size: contain;
    top: 8px;
}

.youAreGOLD:before {
    background: url("../icon/status-gold.png") no-repeat;
    content: '';
    position: absolute;
    width: 100%;
    height: 70%;
    left: -70px;
    background-size: contain;
    top: 8px;
}

.youArePLATINUM:before {
    background: url("../icon/status-platinum.png") no-repeat;
    content: '';
    position: absolute;
    width: 100%;
    height: 70%;
    left: -65px;
    background-size: contain;
    top: 8px;
}

.pWrap {
    word-wrap: break-word;
}

.menuForMobile {
    display: none;
}

/* Page elements
   ------------------------------------------------------------------------- */
body {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    color: #212121;
}

@font-face {
    font-family: Glyphicons Halflings;
    src: url(../fonts/glyphicons-halflings-regular.ttf);
}

header ul.nav li {
    margin-bottom: 0
}

.navbar-default .navbar-nav > .notification > a {
    color: #212121;

}

.navbar-default .navbar-nav > .notification > a:hover, .navbar-default .navbar-nav > .notification > a:focus {
    color: #000000;
    background-color: #0cebc7;
}

.navbar-default .navbar-nav > li > a {
    padding-left: 0;
    padding-right: 0;
    color: #ffffff
}

.navbar-default .navbar-nav > li > a:hover {
    color: #0cebc7;
}

.navbar-default .navbar-nav > li {
    margin-left: 18px;
    margin-right: 18px;

}

.navbar-default .navbar-nav > .pull-right {
    margin-left: 8px;
    margin-right: 8px;

}

.activeMenu {
    font-weight: bold;
    /*border-bottom: 3px solid #07bed5;*/
    /*border-radius: 10px;*/

    position: relative;
}

.activeMenu::after {
    content: '';
    position: absolute;
    border: 10px solid transparent;
    border-bottom-width: 10px;
    border-bottom-style: solid;
    border-bottom-color: transparent;
    border-bottom: 10px solid #07bed5;
    left: 26%;
    bottom: -2px;
}

.navbar-default .navbar-nav > .activeMenu > a {
    color: #07bed5;
}

.navbar {
    margin-bottom: 0;
}

#account .nav > li > a:hover, .nav > li > a:focus, .nav > li > a:hover {
    color: #18bc9c;
    background-color: transparent;
}

.navbar-default {
    background-color: unset;
}

.menuLogo {

    width: auto;
    position: absolute;
    top: 15px;
    left: -15%;
}

header .locales a {
    padding-right: 10px
}

.body-container {
    -webkit-flex: 1;
    flex: 1;
    /* needed to prevent pages with a very small height and browsers not supporting flex */
    min-height: 600px
}

.body-container #main h1, .body-container #main h2 {
    margin-top: 0
}

#sidebar .section {
    margin-bottom: 2em
}

#sidebar p {
    font-size: 15px
}

#sidebar p + p {
    margin: 1.5em 0 0
}

footer {

    padding-top: 2em;
    padding-bottom: 2em;
    background: #fff;
    /*text-align: right;*/
}

#footer-copyright {
    float: left;
}

#footer-copyright p {
    text-align: left;
}

#footer-copyright-home {
    position: absolute;
    right: 15%;
    bottom: 3%;
}

#footer-copyright-home p {
    text-align: right;
    color: #d7d7d7;
    font-size: 12px;
}

footer p {
    color: #212121;
    font-size: 13px;
    margin-bottom: 0.25em
}

footer #footer-resources {
    text-align: right
}

footer #footer-resources i {
    color: #7b8a8b;
    font-size: 28.5px;
    margin-left: 0.5em
}

#sourceCodeModal h3 {
    font-size: 19px;
    margin-top: 0
}

#sourceCodeModal h3 small {
    color: #7b8a8b;
    font-size: 80%
}

#sourceCodeModal pre {
    margin-bottom: 2em;
    padding: 0
}

#confirmationModal .modal-dialog {
    width: 500px
}

#confirmationModal .modal-footer button {
    min-width: 75px
}

.blueBtn {
    background-color: #0cebc7;
    /*color: #fff;*/
    /*padding: 8px 18px;*/
    border-radius: 25px;
    border: none;
    /*font-size: 12px;*/
    font-weight: bold;
    line-height: 1.5em;
    cursor: pointer;
    outline: none !important;
    /*margin-right: 60px;*/

    /*background: #00bcd4;*/
    /*padding: 5px 20px;*/
    /*font-weight: bold;*/
    /*height: 45px;*/
    /*margin-bottom: 5px;*/

}

.blackBtn {
    color: #000 !important;
    margin: 10px 0px;
}

.blackPlus {
    position: relative;
    right: 18%;
    font-size: 20px;
    font-weight: normal;
}

.blackPlus1 {
    position: relative;
    right: 6%;
    font-size: 20px;
    font-weight: normal;
}

.blueBtn:hover, .createFileBtn:hover, .createFileBlockBtn:hover {
    cursor: pointer;
    /*color: red;*/
    background-color: #0BD1B1 !important;
    outline: none;
    border: 1px solid #000000;
    color: #000000;
}

.whiteCancelBtn, .whiteCancelBtn:hover {
    background-color: #ffffdd !important;
}

/*#personalInfoBtn:hover, #personalAccountBtn:hover {*/
/*background-color: transparent !important;*/
/*}*/

/*.blueBtn.chooseOptActive:hover{*/
/*background-color:transparent;*/
/*}*/
.blueBtn:focus {
    /*border: none;*/
    outline: none;
}

.btn:hover, .btn:focus, .btn.focus {
    color: #212121;
}

button:hover {
    cursor: pointer;
    /*color: red;*/
    /*background-color: red;*/
    outline: none;
}

.orangeBtn {
    background: #ffc400;
    padding: 5px 20px;
    font-weight: bold;
    height: 45px;
    margin-bottom: 5px;
    border-radius: 25px;
}

.orangeBtn:hover {
    background: #B58B00;
}

.orangeBtnQuest {
    color: #fff;
    font-weight: normal;
}

/* Misc. elements
   ------------------------------------------------------------------------- */
.section.rss a {
    color: #f39c12;
    font-size: 21px;
}

/* Forms
   ------------------------------------------------------------------------- */
.form-group.has-error .form-control {
    border-color: #e74c3c
}

.form-group.has-error .control-label {
    color: #e74c3c
}

.form-group.has-error .help-block {
    background-color: #e74c3c;
    color: #fff;
    font-size: 15px;
    padding: 1em
}

.form-group.has-error .help-block ul,
.form-group.has-error .help-block li {
    margin-bottom: 0
}

.form-group.has-error .help-block li + li {
    margin-top: 0.5em;
}

textarea {
    max-width: 100%
}

.form-control {
    border-radius: 0;
}

input#username, input#password, input#usernameFogot {
    width: 100%;
    border: none;
    box-shadow: none;
    height: 40px;
}

hr {
    border-top: 1px solid #080808;
}

#account .form-control {
    color: #FFFFFF;
}

/* Page: 'Technical Requirements Checker'
   ------------------------------------------------------------------------- */
body#requirements_checker header h1 {
    margin-bottom: 0;
    margin-top: 0
}

body#requirements_checker header h1 span {
    font-size: 120%;
    opacity: 0.7;
    padding: 0 5px
}

body#requirements_checker .panel li {
    margin-bottom: 1em
}

/* Page: 'Homepage'
   ------------------------------------------------------------------------- */
body#homepage {
    text-align: center
}

#homepage .container-fluid {
    background: url("../img/background.jpg") no-repeat;
    background-size: cover;
}

#homepage .logo {
    margin-left: 11%;
    margin-top: 2%;
}

.homeContaiter {
    position: relative;
    display: block;
    height: 100vh;

}

.messageBlock {
    position: absolute;
    width: 35%;
    height: 25%;
    top: calc(34%);
    left: calc(33%);
    background: #212121;
    -webkit-transition: opacity 1s ease-out 0.5s;
    -moz-transition: opacity 1s ease-out 0.5s;
    -o-transition: opacity 1s ease-out 0.5s;
    transition: opacity 1s ease-out 0.5s;
    opacity: 0;
    z-index: 9999;
}

/*.homeContaiter.hidebg:after {*/
/*content: "";*/
/*position: absolute;*/
/*width: 100%;*/
/*height: 100%;*/
/*background: rgba(43, 43, 43, 0.8);*/
/*z-index: 99;*/
/*top: 0;*/
/*right: 0;*/
/*bottom: 0;*/
/*left: 0;*/
/*opacity: 1;*/

/*}*/

.messageBlock p {
    color: #fff;
    font-size: 4vh;
    padding: 15px;
}

.loginForm {
    position: absolute;
    bottom: 10%;
    left: 10%;
    width: 275px;
}

.well {
    background: transparent;
}

.loginSubmitBlock {
    margin: 30px 0px 0px 0px;
    /*width:320px;*/
}

.loginBtn {
    border-radius: 5px;
    background: #07bed5;
    padding: 5px 30px;
    border-radius: 30px;
}

.forgotText {
    display: inline-block;
    padding: 10px 0px 0px 0px;
    font-size: 13px;
}

.page-header {
    margin-top: 3%;
    margin-right: 6%;

    text-align: right;
    color: #FFF;
}

#homepage h1, .h1 {
    font-size: 4.5vw;
    margin-top: -15px;
}

#homepage h2 {
    font-size: 3vw;
}

#fogotForm {
    display: none;
    position: relative;
    top: 30px;
}

#disableBlock {
    position: absolute;
    margin-left: -15px;
    background: #212121;
    opacity: 0.9;
    margin-top: -30px;
}

.badPass {
    background-color: rgba(0, 0, 0, 0.4);
    color: #ffc107;
    height: 40px;
    position: relative;
    left: 100%;
    top: 95px;
    font-style: italic;
    line-height: 1.4em;
}

.checkForgot {
    background-color: rgba(0, 0, 0, 0.4);
    height: 85px;
    vertical-align: middle;
    color: #ffc107;
    padding: 5px;
    font-style: italic;
    font-size: 12px;
    display: none;
}

#authForm {
    margin-bottom: 20px;
}

/* Page: 'Login'
   ------------------------------------------------------------------------- */
body#login #login-users-help p {
    font-size: 15px;
    line-height: 1.42857
}

body#login #login-users-help p:last-child {
    margin-bottom: 0
}

body#login #login-users-help p .label {
    margin-right: 5px
}

body#login #login-users-help p .console {
    display: block;
    margin: 5px 0;
    padding: 10px
}

/* Common Blog page elements
   ------------------------------------------------------------------------- */
.post-metadata {
    color: #b4bcc2;
    font-size: 19px;
    margin-bottom: 16px;
}

.post-metadata .metadata {
    margin-right: 1.5em;
}

.post-tags .label {
    margin-right: 5px;
}

/* Page: 'Blog index'
   ------------------------------------------------------------------------- */
body#blog_index h1,
body#blog_index p {
    margin-bottom: 0.5em
}

body#blog_index article.post {
    margin-bottom: 3em;
}

body#blog_index .post-metadata {
    font-size: 16px;
    margin-bottom: 8px;
}

body#blog_index .post-tags .label-default {
    background-color: #e9ecec;
    color: #6d8283;
}

body#blog_index .post-tags .label-default i {
    color: #a3b2b2;
}

/* Page: 'Blog post show'
   ------------------------------------------------------------------------- */
body#blog_post_show h3 {
    margin-bottom: 0.75em
}

body#blog_post_show .post-tags .label-default {
    background-color: #e9ecec;
    color: #6D8283;
    font-size: 16px;
    margin-right: 10px;
    padding: .4em 1em .5em;
}

body#blog_post_show .post-tags .label-default i {
    color: #95A6A7;
}

body#blog_post_show #post-add-comment {
    margin: 2em 0
}

body#blog_post_show #post-add-comment p {
    margin-bottom: 0
}

body#blog_post_show #post-add-comment p a.btn {
    margin-right: 0.5em
}

body#blog_post_show .post-comment {
    margin-bottom: 2em
}

body#blog_post_show .post-comment h4 {
    font-size: 13px;
    line-height: 1.42857;
    margin-top: 0
}

body#blog_post_show .post-comment h4 strong {
    display: block
}

/* Page: 'Comment form error'
   ------------------------------------------------------------------------- */
body#comment_form_error h1.text-danger {
    margin-bottom: 1em
}

/* Page: 'Backend post index'
   ------------------------------------------------------------------------- */
body#admin_post_index .item-actions {
    white-space: nowrap
}

body#admin_post_index .item-actions a.btn + a.btn {
    margin-left: 4px
}

/* Page: 'Backend post show'
   ------------------------------------------------------------------------- */
body#admin_post_show .post-tags .label-default {
    background-color: #e9ecec;
    color: #6D8283;
    font-size: 16px;
    margin-right: 10px;
    padding: .4em 1em .5em;
}

body#admin_post_show .post-tags .label-default i {
    color: #95A6A7;
}

/* Block: 'Account info'
   ------------------------------------------------------------------------- */
#account {
    height: 100vh;
    right: 0;
    /*background: #9e9e9e;*/
    background: #006064;
    z-index: 10000;
    position: fixed;
    overflow-y: scroll;
    top: 0
}

.blockCloseBtn {
    /*background: #9e9e9e;*/
    width: 70px;
}

#account .submenu, #changeManager .submenu, #addNewDealerBlock .submenu, #addNewManager .submenu, #dealerCouponBlock .submenu {
    /*background: #616161;*/
    background: #00838f;
    height: 60px !important;
    color: #fff;
}

/*.personalInfoTitle {*/
/*margin-top: 7%;*/
/*font-size: 24px;*/
/*margin-left: 45px;*/
/*font-weight: 200;*/
/*}*/
.personalInfoTitle {
    margin-top: 9%;
    font-size: 24px;
    /*margin-left: 45px;*/
    font-weight: 200;
}

.personalInfoTitle span {
    display: block;
    margin-top: 5px;
    margin-left: 10px;
}

.submenu .line {
    margin: 20px 0px;
}

#account p, #account a {
    /*color: #ffffdd;*/
    color: #fff;
}

.accountBlock {
    margin-top: 3%;
    margin-left: 7%;
}

#editProfileForm .chosen-container-single .chosen-single {
    border: none;
    background: #00838f;
    box-shadow: none;
}

#editProfileForm .chosen-container-single .chosen-single span {
    color: #FFFFFF;
}

.accountBlock .blueBtn {
    /*margin-right: 60px;*/
}

.accountInfo {
    margin-top: 20px;
    margin-bottom: 20px;
}

.accountInfo p {
    color: #fff;
}

.accountInfo b {
    color: #0097a7;
}

.accountInfo img {
    width: 33%;
}

/*#accountForm, */
#securityMainForm {
    display: none;
    margin-top: 10px;
}

#securityMainForm b, hr, a {
    color: #00838f;
}

#securityMainForm a {
    display: inline-block;
    text-decoration: none;
    color: #00bcd4;
    font-weight: bold;
}

#editProfileForm {
    margin-top: 10px;
    background-color: #006064;
}

#editProfileForm b {
    color: #00838f;
}

#editProfileForm input {
    background-color: #00838f;
    border: none;

}

#editProfileForm input[type="submit"] {
    background-color: #0cebc7;
}

#editProfileForm input.personalInfoBtn {
    background-color: #0cebc7;
}

#editProfileForm label {
    color: #fff;
    font-weight: normal;
}

input.passDots {
    background-color: #006064;
    color: #fff;
    border: none;
    font-size: 24px;
    font-weight: bold;
    height: 35px;
    margin-top: -10px;
}

.bottomBorder {
    border-top: 1px solid #00838f;
    margin-right: 30px;
    padding-top: 10px;
}

#accountForm {
    display: none;
    margin-top: 10px;
}

#accountForm label {
    color: #fff;
    font-weight: normal;
}

#accountForm input[type="password"] {
    background-color: #00838f;
    border: none;
}

p.showAccount {
    margin-top: 40%;
    padding-right: 15px;
}

.closeAccount:before {
    content: '+';
}

.closeAccount {
    font-size: 40px;
    margin: auto 0;
    color: #FFFFFF;
    display: inline-block;
    height: 60px;
    padding: 10px 20px;
    z-index: 1000;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    cursor: pointer;
}

#logout, #showAccount, .notification {
    z-index: 10;
    position: relative;
}

#showAccount, .showAccount {
    font-weight: bold;

}

a.showAccount {
    /*color: #03bcd0 !important;*/
    /*color: #fff;*/
}

.editForm {
    background: #026873;
    display: none;
}

.accountBlockTitlte {
    border-bottom: 1px solid #ffffdd;
    margin-bottom: 15px;
    padding-bottom: 10px;
}

.profileFoto {
    padding: 0;
    border-radius: 50%;
    overflow: hidden;
}

.profileFoto img {
    height: 100%;
    width: 100%;
}

.managerAcount {
    text-align: right;
}

#changePassBtn {
    /*width: 100%;*/
    display: inline-block;
    /*margin-top: 15px;*/
}

#changePass {
    margin-top: 20px;
}

#seeRecentlyDealers:hover, #seeAllDealers:hover {
    color: #8b8b8b;
}

#notificationList {
    position: absolute;
    width: 250px;
    background: #fff;
    margin-top: 20px;
    list-style-type: none;
    padding: 0 10px;
    border: 1px solid #000000;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(0, 0, 0);
    border-top: none;
    /*box-shadow: -14px 14px rgba(188, 188, 188, 0.7);*/
    max-height: 500px;
    overflow: auto;
    display: none;
    color: #424242;
    left: -15px;
}

.notTriangle::after {
    content: '';
    position: absolute;
    border: 10px solid transparent;
    border-bottom-width: 10px;
    border-bottom-style: solid;
    border-bottom-color: transparent;
    border-bottom: 10px solid #ffffff;
    left: 3px;
    top: 22px;

}

#notificationList .greyTxt {
    font-size: 11px;
    margin-top: 5px;
    margin-bottom: 10px;

}

#notificationList .notTitle {
    border-bottom: 1px solid #000000;
    margin: 5px -10px;
    color: #000;
    font-weight: bold;
    padding-left: 20px;
}

#notificationList li {
    border-bottom: 1px solid #9e9e9e;
    padding-bottom: 10px;

}

#notificationList li .row {
    padding: 0;
}

#notificationList .colText {
    color: #00bcd4;
}

#notificationList li .row {
    padding: 0 15px;
}

#notificationList .notRead {

    cursor: pointer;
    /*margin-left: -10px;*/
    /*margin-right: -10px;*/
    /*padding-left: 10px;*/
    /*padding-right: 10px;*/
    /*padding-top: 5px;*/
    font-weight: bold;

}

#notificationList .notRead .colText {
    color: red;
}

#notificationList li:last-child {
    border-bottom: none;
}

button:focus {
    outline: none;

}

.chosen-container-single .chosen-single {
    height: auto;
    padding: 10px;
    border-radius: 0;
    font-size: 15px;
    /*color: #8b8b8b;*/
    border: 1px solid #dce4ec;
}

.chosen-container-single .chosen-single div b {
    background: url("chosen-sprite.png") no-repeat 0 12px;
}

.chosen-container-active.chosen-with-drop .chosen-single div b {
    background-position: -17px 13px;
}

.underBar {
    background-color: #00bcd4;
    min-height: 60px;
    padding-top: 5px;
}

.underBar .blueBtn {
    background-color: #0cebc7;
}

.glyphicon-chevron-right {
    content: '';
    background: url("../icon/sliderRight.png") no-repeat;
}

.glyphicon-chevron-right:before, .glyphicon-chevron-left:before {
    content: '';

}

.glyphicon-chevron-left {
    content: '';
    background: url("../icon/sliderLeft.png") no-repeat;
}

.sliderNews img {
    width: 100%;
}

.carousel-control.left, .carousel-control.right {
    background-image: none;
    margin: 6% 0;
    width: 1px;
}

.sliderNews a, .sliderNews a:hover {
    color: #212121;
}

.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-prev, .carousel-control .icon-next {
    height: 45px;
}

.carousel-control .glyphicon-chevron-right {
    right: 0;
}

.carousel-control .glyphicon-chevron-left {
    left: 0;
}

.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-prev, .carousel-control .icon-next {
    width: 20px;
}

ul.tabs {
    margin: 0px;
    padding: 0px;
    list-style: none;
    border: 1px solid #e5e5e5;
    border-top: 0;
}

ul.tabs li {
    background: #ededed;
    color: #222;
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
    height: 80px;
    margin: 0px;
    width: calc(25% - 1.5px);
}

ul.tabs li.current {
    background: #FFFFFF;
    color: #222;
}

ul.tabs .current img {
    opacity: 1;
    filter: none;
}

.tab-content {
    display: none;
    /*background: #ededed;*/
    padding: 15px;
    border: 1px solid #e5e5e5;
    border-bottom: 0;
}

.tab-content.current {
    display: inherit;
}

ul.tabs li img {
    display: block;
    margin: auto;
    vertical-align: middle;
    filter: gray;
    filter: grayscale(100%);
    opacity: 0.5;
    width: 100%;

}

ul.tabs .noFilter {
    border-bottom: 3px solid #0b58e1;
}

.tab-content li {
    margin: 0;
}

.tabs li:nth-child(2), .tabs li:nth-child(3) {
    margin-left: 2px;
    /*margin-right: -2px;*/
}

.tabs li:nth-child(3) {
    margin-right: 2px;
}

.dealerInfoRight {

}

.helperAlign {
    display: inline-grid;
    height: 100%;
    vertical-align: middle;
    width: auto;

}

.dealerBenefits, .statusDiscount, .standardBenefits {
    padding: 5px 0;
    margin: 0 20px;
}

.statusDiscount ul, .standardBenefits ul, .dealerBenefits ul {
    margin-left: -20px;
}

.standardBenefits, .dealerBenefits {
    border-top: 1px solid #e0e0e0;
}

.dealerStatusTitle {
    margin: -15px -15px 25px -15px;
    padding: 15px 0;
    background: #eeeeee;
    color: #9e9e9e;
}

.dealerStatusTitle b {
    color: #212121;
}

.activeStatus {
    background: none;
}

.activeStatus h2 b {
    color: #00bcd4;
}

.activeStatus p {
    color: #9e9e9e;

}

.dealerStatusTitle h2 {
    margin: 0;
}

.blueColorTxt {
    color: #00bcd4 !important;
}

.dealerLeftBlock {

    margin-top: 30px;
    padding-right: 30px
}

#dealerManager {
    margin-top: 30px;
    padding-left: 30px;
    border-left: 1px solid #e5e5e5;
}

.carousel-control .icon-prev, .carousel-control .icon-next, .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right {
    top: 0;
}

.bootstrap-table .table > thead > tr > th {
    border-bottom: none;
    height: 44px;
}

.profileFotoMobile {
    display: none;
}

#showDealers .fixed-table-body {
    min-width: 490px;
}

#dealerCouponBtn {
    /*position: relative;*/
    /*top: 5px;*/
}

/*-------------------- VINCHECK PAGE--------------------*/
.checkBlock {
    height: auto;
    display: inline-block;
    position: relative;
    width: 100%;
}

.vincheckInput {
    width: 70%;
    display: inline-block;
}

#vinCheckForm span {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
}

.textVinInfo {
    /*color: #00bcd4;*/
    color: #000;
    margin-top: 3%;
}

#checkMMIBlock, #checkProductBlock {
    display: none;
}

.col-md-10.checkForm {
    margin-top: 5%;
}

.vincheckError {
    background: #ac2925;
    padding: 10px;
    display: none;
}

/*.vincheckProducts {*/
/*margin-top: 5%;*/
/*}*/

.vincheckAddon {
    padding-left: 40px !important;
}

.vincheckAddonTitle {
    padding-left: 20px !important;
}

.checkVinBtn, .couponBtn {
    background-color: #0cebc7;
    color: #000 !important;
    margin-bottom: 0;
    margin-left: -5px;
    height: 36px;
    /*border-top-left-radius: 0;*/
    /*border-bottom-left-radius: 0;*/
    padding-top: 7px;
    top: 10px;
    position: relative;
}

#inputCheckVin, #inputCheckVin:focus {
    background: transparent;
    border: 0;
    border-bottom: 1px solid #fff;
    padding-left: 35px;
    background: url("../icon/search.png") no-repeat;
    background-position: 0px 13px;
    color: #ffffff;
    padding-bottom: 0;
    width: 100%;
    margin-bottom: 10px;
}

#inputCheckVin::placeholder {
    color: #80deea;
}

.vinCheckResult {
    /*margin-top: 40px;*/
}

.checkVinTitle {
    font-size: 24px;
    font-weight: 300;
    height: 40px;
    padding-top: 3px;
}

.vincheckProducts .row, .vincheckMMI .row, .vincheckDetails .row, .prodDetailBlock .row {
    border-top: 1px solid #d4d4d4;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 300;
    padding-left: 20px;
    position: relative;
}

.vincheckProducts .row:first-child,
.vincheckDetails .row:first-child, .prodDetailBlock .row:first-child,
.vincheckProducts .row:nth-child(2),
.vincheckDetails .row:nth-child(2), .prodDetailBlock .row:nth-child(2) {
    font-weight: 500;
    border: none;
    padding: 0;
}

.vincheckProducts .row:nth-child(3),
.vincheckDetails .row:nth-child(3) {
    border-top: none;
}

.vincheckProducts .row:nth-child(2),
.vincheckDetails .row:nth-child(2), .prodDetailBlock .row:nth-child(2) {
    border-bottom: 1px solid #7f7f7f;
}

.vincheckProducts .row:nth-child(1) h5,
.vincheckDetails .row:nth-child(1) h5, .prodDetailBlock .row:nth-child(1) h5 {
    margin-bottom: 0;
}

.vincheckMMI .row:first-child {
    font-weight: 500;
    border-bottom: 1px solid #7f7f7f;
    border-top: none;
    padding: 0;
}

#printVincheckBtn {
    display: none;
}

.printLogoLeft {
    margin-left: 10px;
    display: inline-block;
    float: left;
}

.printLogoRight {
    margin-right: 25px;
    display: inline-block;
    float: right;
}

.spotErrorBlock {
    /*border-top: 2px solid #707070;*/
    padding-top: 15px;
    display: none;
    margin-top: 1%;

}

.greyHr {
    border-color: #707070;
    border-width: 2px;
    margin: 15px;
}

.spotErrorBlock p {
    margin: 0;
}

.pointable {
    cursor: pointer;
    position: absolute;
    left: 0;
}

.glyphicon-ok::before {

    font-weight: 300;
}

.addonsWrappToogle {
    display: none;
}

.upDown:before {
    content: '+';
}

.toggleIcon:before {
    content: '-';
}

.afterIconBlack {
    color: #0cebc7;
}

.prodTitle {
    cursor: pointer;

}

/*.afterIconBlue, .afterIconBlack {*/
/*float: right;*/
/*}*/

/*.afterIconBlue:after {*/
/*content: url("../img/infoBlue.jpg");*/
/*}*/

/*.afterIconBlack:after {*/
/*content: url("../img/infoBlack.jpg");*/
/*}*/

.addonsWrap {
    /*margin-left: 20px;*/
}

.prodDetailBlock p, .vincheckProducts .greyTxt, .vincheckDetails .greyTxt {
    margin: 0;
}

/*.prodDetailBlock .invisible {*/
/*margin: 0 0 10.5px;*/
/*}*/

.prodDetailBlock .prodDetailTitle, .prodDetailBlock .prodDetailDetail {
    margin: 15px 0;
}

.RegularPrice {

}

.yourPriceTxt {
    font-size: 17px;
}

#printVincheck {
    padding-left: 25px;
    padding-right: 25px;
    color: #212121;

}

.tIcon {
    cursor: pointer;
}

.textVinInfo {
    display: none;
}

.installTime {
    /*border-top: 1px solid #e9ecec;*/
    padding: 5px 0 0 0;
}

.installText {
    font-size: 12px;
    /*border-bottom: 1px solid #e9ecec;*/
    padding: 5px 0;
    color: #9e9e9e;
}

.regularPriceBlock {
    color: #9e9e9e;
}

.prodDetailBlock .installTime {
    margin: 0;
}

#prodDetailBlock {
    float: right;
}

.productCheckBox {
    color: #0cebc7;
    float: right;
}

.productCheckBox[type="checkbox"]:checked {
    background: #0cebc7;
    border-color: #0cebc7;
}

/* Remove default checkbox */

.productCheckBox[type="checkbox"]:not(:checked),
.productCheckBox[type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
}

.productCheckBox[type="checkbox"]:not(:checked) + label,
.productCheckBox[type="checkbox"]:checked + label {
    position: relative;
    overflow: hidden;
    padding-left: 15px;
    cursor: pointer;
    display: inline-block;
    height: 15px;
    line-height: 15px;
    vertical-align: top;
    -webkit-user-select: none;
    float: right;
    /* webkit (safari, chrome) browsers */
    -moz-user-select: none;
    /* mozilla browsers */
    -khtml-user-select: none;
    /* webkit (konqueror) browsers */
    -ms-user-select: none;
    /* IE10+ */
}

/* checkbox aspect */

.productCheckBox[type="checkbox"] + label:before,
.productCheckBox[type="checkbox"] + label:after {
    content: '';
    position: absolute;
    left: 0;
    z-index: 1;
    -webkit-transition: .2s;
    transition: .2s;
}

/* Unchecked styles */

.productCheckBox[type="checkbox"]:not(:checked) + label:before {
    top: 0px;
    width: 15px;
    height: 15px;
    border: 1px solid #9e9e9e;
    box-shadow: #212121;
}

.productCheckBox[type="checkbox"]:not(:checked) + label:after {
    top: 0px;
    width: 15px;
    height: 15px;
    border: 1px solid #0cebc7;
    z-index: 0;
}

/* Checked styles */

.productCheckBox[type="checkbox"]:checked + label:before {
    top: 0;
    width: 6px;
    height: 12px;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid #0cebc7;
    border-bottom: 1px solid #0cebc7;
    -webkit-transform: rotateZ(37deg);
    transform: rotateZ(37deg);
    -webkit-transform-origin: 20% 40%;
    transform-origin: 100% 100%;
}

.productCheckBox[type="checkbox"]:checked + label:after {
    top: 0px;
    width: 15px;
    height: 15px;
    border: 1px solid #0cebc7;
    z-index: 0;
}

/* disabled checkbox */

.productCheckBox[type="checkbox"]:disabled:not(:checked) + label:before,
.productCheckBox[type="checkbox"]:disabled:checked + label:before {
    top: 0;
    box-shadow: none;
    background-color: #444;
    width: 15px;
    height: 15px;
    border: 3px solid #444;
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
}

.productCheckBox[type="checkbox"]:disabled + label {
    color: #555;
}

.productCheckBox[type="checkbox"]:disabled:not(:checked) + label:hover:before {
    border-color: #0cebc7;
}

.productCheckBox label {
    margin-bottom: 0;
}

#requestOrder {
    margin-right: 20px;
    padding-left: 25px;
    padding-right: 25px;
}

#requestOrder {
    display: none;
}

.vinCheckOrder {
    display: none;
    margin-top: 30px;
}

.vincheckOrderDetail .row, .vincheckOrderDetail {
    border-bottom: 1px solid #7f7f7f;
}

.vincheckOrderDetail .row, .vincheckOrderDetail {
    margin-bottom: 10px;
}

.orderDetailsBlock {
    border-bottom: 1px solid #e9ecec;
    display: inline-block;
    width: 100%;
    padding: 5px 0;
    font-weight: bold;
}

.orderDetailsBlock:last-child {
    border: none;
}

#ordersTotal {
    font-weight: bold;
}

.orderResponse {
    margin-right: 15px;
    top: 10px;
    position: relative;
    display: inline-block;
}

.orderResponse .glyphicon-ok {
    border-radius: 50%;
    height: 36px;
    width: 36px;
    padding: 7px;
}

.ROLE_ADMIN .vincheckProducts .row:first-child, .ROLE_MANAGER .vincheckProducts .row:first-child {
    visibility: hidden;
}

#inputCheckVin-error {
    position: absolute;
    color: black;
    border: 1px solid #000000;
    width: 100%;
    left: 0;
    bottom: -50%;
    font-weight: normal;
    font-size: 11px;
    padding: 5px;
    background: #80deea;
}

.warningAddon {
    color: #FF4500;
    font-size: 12px;
}

.moreOnce {
    color: rgba(219, 219, 255, 0.5);
}

.moreOnce div {
    text-decoration: line-through;
}

.moreOnce::after {
    content: "Product selected more than once.";
    color: #FF4500;
    font-size: 12px;
    display: inherit;
    width: 100%;
}

.currency a {
    padding: 0 7px;
    color: #212121;
    font-weight: normal;
    font-size: 14px;
}

.currency a:hover {
    color: #212121;
    text-decoration: none;
}

.currency a:nth-child(2) {
    border-left: 1px solid;
    border-right: 1px solid;
}

.currency .active {
    color: #212121;
    cursor: auto;
    font-weight: bold;
    pointer-events: none;
}

.installTimeBlock, .itemPriceBlock {
    padding: 10px 0 10px 30px;
    background-position-y: 20px !important;
}

.installTimeBlock {
    background: url("../icon/instTime.png") no-repeat;
    border-top: 1px solid #e9ecec;
}

.exchangeFeeBlock {
    /*background: url("../icon/exchangeFee.png") no-repeat;*/
    /*border-top: 1px solid #e9ecec;*/
    /*border-top: 1px solid #e9ecec;*/
}

.exchangeFeeBlock input {
    width: 55px;
    text-align: center;
    /*margin: 0 10px;*/
}

.exchangeFeeBlockInputBlock {
    padding: 7px 0 !important;
}

.itemPriceBlock {
    background: url("../icon/price.png") no-repeat;
    border-top: 1px solid #e9ecec;
    border-bottom: 1px solid #e9ecec;
}

.currencyBlock, .exchangeFeeBlock, .currencyBlock div, .exchangeFeeBlock div {
    /*height: 60px;*/
    padding: 10px 0;
}

.exchangeFeeText {
    position: absolute;
    color: #9e9e9e;
    font-size: 12px;
    right: 0;
    top: 50px;
    border: 1px solid;
    background: #f9f9f9;
    display: inline-block;
    z-index: 10;
    padding: 5px;

}

.exchangeBlock {
    border-bottom: 1px solid #757575;
    margin: 0 30px;
    padding: 0;
    margin-bottom: 20px;
    width: 95%;
    z-index: 2;
}

/*.usdPrice::before {*/
/*content: "*";*/
/*color: #FF4500;*/
/*}*/

#whatCheck {
    display: inline-block;
}

.currencySymbol {
    padding-left: 5px;
}

.todayRateBlock .todayRateText, .todayRateBlock .todayRate {
    padding: 0;
}

/*-------------------- ADMIN ACCOUNT PAGE--------------------*/

#addNewDealerBlock, #editBlock, #newOrder, #changeManager, #createFile, #editOrder, #addNewManager, #editManager, #dealerCouponBlock {
    position: fixed;
    top: 0;
    right: 0;
    background: #006064;
    height: 100vh;
    overflow-y: auto;
    z-index: 10000;

}

.adminDealer thead {
    /*border-bottom: 2px solid #acacac;*/
    /*border-top: 2px solid #acacac;*/
    background: #eeeeee;
}

#newDealerForm, #deleteDealerForm {
    display: inline-block;
    margin-top: 30px;
}

.adminDealer tr {
    /*border-bottom: 1px solid #e5e5e5;*/
    border-top: 1px solid #e5e5e5;
}

.adminDealer > tbody > tr:nth-child(2n) {
    background: #eeeeee;
}

.adminaddUsers button {
    padding: 0 30px;
    height: 35px;
    margin-left: 15px;
    color: #ffffff;
    cursor: pointer;
}

.adminaddUsers {
    /*margin-bottom: 20px;*/
}

.titleAccount {
    color: #FFFFFF;
    background: #00838f;
    padding-left: 4%;
}

.chooseOpt {
    /*border-bottom: 1px solid #207579;*/
    padding-bottom: 5px;
}

.chooseOpt .line {
    color: #207579;
}

.chooseOptActive {
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 15px;
}

.chooseOptDisable {
    color: #0097a7;
    margin-bottom: 15px;
}

.allDealersOptActive {
    font-weight: bold;
    color: #212121;
}

a.allDealersOptActive, .allDealersOptDisable {
    font-weight: bold;
    color: #8b8b8b;
}

a.allDealersOptDisable {
    color: #8b8b8b;
}

.labelHideInputFile {
    height: 100px;
    padding-top: 40px;
}

.input-file-row-1:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.input-file-row-1 {
    display: inline-block;

    position: relative;
}

html[xmlns] .input-file-row-1 {
    display: block;
}

* html .input-file-row-1 {
    height: 1%;
}

.upload-file-container {
    position: relative;
    width: 100px;
    height: 100px;
    overflow: hidden;
    background: url('../icon/noAvatar.png') top center no-repeat;
    float: left;
    margin-left: 23px;
    border-radius: 50%;
}

.upload-file-container:first-child {
    margin-left: 0;
}

.upload-file-container > img {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.upload-file-container-text {
    font-family: Arial, sans-serif;
    font-size: 12px;
    color: #719d2b;
    line-height: 17px;
    text-align: center;
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100px;
    height: 45px;
}

.upload-file-container-text > span {
    border-bottom: 1px solid #719d2b;
    cursor: pointer;
}

.upload-file-container input {
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 1px;
    opacity: 0;
    filter: alpha(opacity=0);
    margin: 0;
    padding: 0;
    border: none;
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.changeAvatart {
    background: url("../icon/changeAvatar.png");
}

#deleteDealerForm, #deleteManagerForm, #managerListForm {
    display: none;
}

.showDealers {
    /*max-height: 430px;*/
    /*overflow-y: auto;*/
    /*padding-bottom: 15px;*/
}

#mYesBtn, #dYesBtn {
    display: none;
}

.recentlyTitle {
    margin-top: 25px;
}

.persInfoActive {
    background-color: transparent;
    border: 1px solid #00838f !important;
}

a.persInfoActive {
    color: #fff;
}

.persInfoDisable {
    background-color: #0cebc7;
    border: none;
}

a.persInfoDisable {
    color: #fff;
}

.persInfoActive:hover {
    background-color: transparent !important;
    border: 1px solid #00838f;
}

#seeAllDealersBtn, #recentlyAddedDealersBtn, #showExportData {
    margin-top: 30px;
}

#showExportData {
    /*color: #00838f;*/
}

.pBotBord {
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
}

.spanPaddingLeft {
    margin-left: 50px;
}

.dealersTotalVal {
    margin-top: 30px;
}

p.dealersTotalVal {
    margin-top: 40px;
}

.lefMarg {
    margin-right: 30px;
}

.table > tbody > tr > td {
    color: #212121;
}

.allDealersTable {
    background-color: transparent;
}

.allDealersTable th {
    background-color: #00bcd4;
}

.allDealersTable tr {
    border-bottom: 1px solid #e0e0e0;
}

.allDealersTable td {
    text-align: left;
    width: 25%;
}

.allDealersTable tr a {
    color: #000;
    text-decoration: underline !important;
}

.adminDealer > tbody > tr:nth-child(2n) {
    background: none;
}

.allDealersTable tr:last-child {
    border-bottom: 1px solid #00bcd4;
}

.allDealersTable caption + thead > tr > th:first-child {
    padding-left: 20px;
}

.allDealersTable tbody td:first-child {
    padding-left: 20px;
}

.iconRightPadding {
    position: relative;
    right: 18%;
    font-size: 20px;
    font-weight: normal;
}

.statusIconBRONZE:before {
    content: '\2219\20';
}

.statusIconSILVER:before {
    content: '\2219\2219\20';
}

.statusIconGOLD:before {
    content: '\2234\20';
}

.statusIconPLATINUM:before {
    content: '\2237\20';
}

td.statusIconPLATINUM, td.statusIconBRONZE, td.statusIconSILVER, td.statusIconGOLD {
    width: 20%;
}

.statusList, .managerList {
    position: absolute;
    background: #f5f5f5;
    padding: 1% 3%;
    border: 1px solid;
    top: -30px;
    color: #212121;
    font-weight: 300;
    max-height: 300px;
    overflow: auto;

}

.managerList {
    position: initial;
}

.allDealersTable .tableFilter {
    text-decoration: none !important;
}

.fixed-table-toolbar {
    display: none;
}

.fixed-table-container {
    display: contents;
    border: none;
}

/*.fixed-table-container thead th .sortable {*/
/*background-position: center;*/
/*}*/

.bootstrap-table {
    min-height: 260px;
}

.dealerValue:before {
    content: '$';
}

.header-fixed {
    width: 100%
}

.header-fixed > thead,
.header-fixed > tbody,
.header-fixed > thead > tr,
.header-fixed > tbody > tr,
.header-fixed > thead > tr > th,
.header-fixed > tbody > tr > td {
    display: block;
}

.header-fixed > tbody > tr:after,
.header-fixed > thead > tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

.header-fixed > tbody {
    overflow-y: auto;
    min-height: 100px;
    max-height: 430px;
    /*height: 150px;*/
}

.header-fixed > tbody > tr > td,
.header-fixed > thead > tr > th {
    width: 25%;
    float: left;
}

.header-fixed > thead {
    height: 45px;
}

#showManagerList, #showStatusList {
    cursor: pointer;
}

.table-responsive {
    overflow-x: inherit;

}

.fixed-table-container thead th .sortable {
    padding-right: 20px;
    width: auto;
    display: inline-block;
}

.fixed-table-container thead th .both {
    background-image: url('../icon/bothArrow.png');
}

.fixed-table-container thead th .desc {
    background-image: url('../icon/downArrow.png')
}

.fixed-table-container thead th .asc {
    background-image: url('../icon/upArrow.png')
}

.fixed-table-body {
    min-width: 385px;
}

/*-------------------- DEALER PROFILE PAGE--------------------*/
.dealerManagerAccount {
    text-align: right;
}

.dealerTable th {
    text-align: center;
}

.dealerTable td {
    text-align: center;
}

.dealerProfileBar {
    background-color: #424242;
    padding: 20px 0px;
    margin-bottom: 40px;
    color: #fff;
}

.colText {
    color: #00838f;
}

#managerListForm .managerPhotoList {
    height: 50px;
}

#managerListForm td {
    vertical-align: middle;
}

.dimondAbove {
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
}

.tableOverflow {
    min-height: 100px;
    max-height: 430px;
    overflow-y: auto !important;
    /*margin-bottom: 20px;*/
}

.underBarContent {
    padding-top: 5px;

}

.underBarContent .btn {
    /*text-align: left;*/
}

.underBarContentText, .underBarContentText a {
    color: #80deea !important;
}

.lineBread {
    margin: 0 5px;
}

.dealerProfileLeftBlock, .dealerProfileLeftBlock .lineBread {
    color: #fff;
}

.dealerProfileRightBlock, .dealerProfileRightBlock .lineBread {
    color: #000;
}

#changeManagerBtn .blueBtn {
    border: 1px solid #006064;
    color: #0d1318;
    text-align: center;
    padding-right: 30px;
}

#accountBlockBtn .blueBtn {
    border: 1px solid #006064;
    color: #0d1318;
    text-align: center;
}

#changeManager h2 {
    color: #fff;
    margin-top: 30px;
}

.icon {
    margin-right: 25px;
}

.dealerProfileRightBlock div {
    display: inline-block;
}

.table thead {
    background: #00bcd4;
    /*border-bottom: 2px solid #006064;*/
    /*border-top: 2px solid #006064;*/
}

.table {
    /*border-bottom: 2px solid #006064;*/
}

.totalValue {
    border: 1px solid #00838f;
    border-radius: 25px;
}

.statusText {
    margin-top: 25px;
}

.dealerManagerAccount p {
    margin: 0;
}

span.btnTextCenter {
    display: inline-block;
    color: #fff;
}

.btnTextCenter {
    position: relative;
    left: -8%;
}

#dDelBtn, #mDelBtn {
    background: #FF4500;
}

#dDelBtn:hover, #mDelBtn:hover {
    background: #BA3200 !important;
}

#newOrder label, #editOrder label {
    color: #FFFFFF;
}

#newOrder input, #editOrder input, #newOrder .input-group.date .input-group-addon, #editOrder .input-group.date .input-group-addon {
    background: #00838f;
    border: 0;
}

#newOrder input, #editOrder input {
    color: #fff;
}

#newOrder input::placeholder, #editOrder input::placeholder {
    color: #80deea;
}

.form-group .width-md .form-group, .form-group .width-md .form-group .input-group {
    width: 100%;
}

/*-------------------- DOWNLOAD PAGE--------------------*/
/*.table_underlined {*/
/*border-bottom: 1px solid #006064;*/
/*}*/

.table_underlined tbody tr td, .table_underlined thead tr th {
    padding: 15px 10px 5px 25px;
}

.table_underlined tbody tr td:first-child {
    padding-left: 30px;
}

.downloadTable {
    background-color: #07bed5;
    border-top: 1px solid #006064;
    border-bottom: 1px solid #006064;
}

.createFileBtn, .createFileBlockBtn {
    background-color: #4dd0e1;
    color: #000 !important;
    /*padding: 3px 20px;*/
    border-radius: 25px;
    border: 1px solid #006064;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;

}

.plusSign {
    font-size: 18px;
    padding-right: 20px;
}

.filterTitle {
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: bold;
}

td.confirmDeleteOrder {
    background-color: rgba(255, 61, 0, 0.5);
    /*display: block;*/
    width: 100%;
}

.confirmShow {

}

.cancelDelete {
    color: #fff;
    margin-right: 13px;
    cursor: pointer;
}

.confirmDeleteBtn {
    /*margin-left: 20px;*/
    /*margin-left: 20px;*/
    color: #fff;
    text-decoration: underline;
}

a.deleteBtn {
    text-decoration: underline !important;
    color: #fff;
}

.cancelDeleteSpan {
    color: #fff;
    margin-left: 5px;
    font-weight: normal;
}

.confirmRow {
    display: none;
}

.del-icon-user, .down-icon-del, .down-icon-prev {
    vertical-align: initial;
    margin-right: 10px;
}

.down-icon-del:hover, .addDealerToFile:hover {
    cursor: pointer;
}

.download-icon {
    cursor: pointer;
    width: 20px;
    margin-right: 10px;
}

.noBtn {
    background: transparent;
    border: 0;
    padding: 0;

}

#changeProgresFile {
    position: absolute;
    top: 13px;
    width: 85%;
    left: 25px;
    background: transparent;

}

.fileinput-button {
    position: relative;
    overflow: hidden;
    display: inline-block;
    width: 100%;
    height: 180px;

    border-radius: 30px;
    border: 1px solid;
    background: #006064;
}

#inputFileText {
    position: relative;
    top: 41%;
    display: inline-block;
    width: 100%;
    text-align: center;
}

#newInputFile {
    display: none;
}

#newInputFileLabel {
    margin: 0;
    margin-top: 20px;
    width: 100%;
    background: #00838f;
}

table a:not(.btn), .table a:not(.btn) {
    text-decoration: none;
}

.template-upload {
    border-top: 1px solid #00838f;
    border-bottom: 1px solid #00838f;

}

.template-upload p, .table > tbody > .template-upload > td {
    color: #FFFFFF;
}

.dealerCheckbox {
    display: none;
    position: absolute;
    width: 220px;
    border: 1px solid #006064;
    padding: 15px;
    left: -225px;
    top: -15px;
    background: #ffffff;
    color: #0a4d50;
    z-index: 2;
    /*box-shadow: -14px 14px rgb(10, 77, 80);*/
}

.fileupload-buttonbar .createFileBtn {
    background: #0cebc7;
    padding-left: 45px;
    padding-right: 60px;
    color: #ffffff !important;
}

.fileupload-buttonbar .createFileBtn img {
    margin-left: 5px;
}

.fileupload-buttonbar .createFileBtn img {
    left: -5px;
    position: relative;
    top: -2px;
}

.dealerCheckbox .overflow {
    max-height: 355px;
}

.dealerCheckbox .row {
    padding: 5px 0;
    border-bottom: 1px solid #e0e0e0;
}

.dealerCheckbox:after,
.triagle1,
.triagle2 {
    position: absolute;
    border: 4px solid #fff;
    box-sizing: border-box;
}

.dealerCheckbox::after {
    content: '';
    display: block;
    right: -9px;
    top: 45px;
    margin: -20px 0 0 -19px;
    border-right: none;
    border-right-width: medium;
    border-right-color: currentcolor;
    border-top: none;
    border-top-width: medium;
    border-top-color: currentcolor;
    border-width: 1px;
    width: 15px;
    height: 15px;
    transform: rotate(-135deg);
    border-color: #006064;
    background: #fff;
}

.triagle1,
.triagle2 {
    left: 0;
    border: none;
    border-left: 4px solid #fff;
    height: calc((100% - 51px) / 2);
}

.triagle1 {
    top: 0;
}

.triagle2 {
    bottom: 0;
}

input[type="checkbox"] {
    margin-right: 10px;
}

/* .roundedOne */
.roundedOne {
    width: 13px;
    height: 13px;
    top: 5px;
    position: relative;
    display: inline-block;
    margin: -5px 5px 0 5px;
    background: #fcfff4;
    background: linear-gradient(top, #00838f 0%, #00838f 40%, #00838f 100%);
    border-radius: 50%;
    box-shadow: inset 0px 1px 1px #00838f, 0px 1px 3px rgba(0, 131, 143, 0.5);
}

.roundedOne label {
    width: 8px;
    height: 8px;
    cursor: pointer;
    position: absolute;
    left: 2px;
    top: 2px;
    background: linear-gradient(top, #00838f 0%, #00838f 100%);
    border-radius: 50%;
    box-shadow: inset 0px 1px 1px rgba(0, 131, 143, 0.5), 0px 1px 0px #00838f;
}

.roundedOne label:after {
    content: '';
    width: 8px;
    height: 8px;
    position: absolute;
    top: 1px;
    /*left: 2px;*/
    background: #00838f;
    background: linear-gradient(top, #00838f 0%, #00838f 100%);
    opacity: 0;
    border-radius: 50%;
    box-shadow: inset 0px 1px 1px #00838f, 0px 1px 3px rgba(0, 131, 143, 0.5);
}

.roundedOne label:hover::after {
    opacity: 0.3;
}

.roundedOne input[type=checkbox] {
    visibility: hidden;
}

.roundedOne input[type=checkbox]:checked + label:after {
    opacity: 1;
}

#newFileBlock {
    position: fixed;
    background: #006064;
    width: 100%;
    height: 60%;
    bottom: 0;
    z-index: 10;
    color: #FFFFFF;
    overflow: auto;
    top: inherit;
}

.addDealerToFile {
    color: #00bcd4;
}

.closeNewfile {
    margin-top: 12px;
    padding: 0;
    position: relative;
    /*left: -35px;*/
}

.dealerCompanyNameDiv {
    margin-top: 12px;
    margin-left: 30px;
    margin-right: 10px;
    word-wrap: break-word;
}

/*-------------------- MANAGER PROFILE--------------------*/
.countStatus {
    padding: 0 10px;
}

#newOrder .form-inline .form-control, #editOrder .form-inline .form-control {
    width: 100%;
}

#newOrder, #editOrder {
    position: fixed;
    background: #006064;
    width: 100%;
    height: 60%;
    bottom: 0;
    z-index: 10;
    overflow: auto;
    top: inherit;
}

#newOrder h3, #editOrder h3 {
    color: #FFFFFF;
}

/*-------------------- MANAGER LIST PAGE--------------------*/
.managerFoto img {
    width: 50px;
}

img.managerFotoMenu {
    width: 20px;
}

/*-------------------- NEWS PAGE--------------------*/
.thumbnailPhoto {
    overflow: hidden;
    position: relative;

}

/*.blockNews img, .blockPromotion img {*/
/*position: absolute;*/
/*left: 50%;*/
/*top: 50%;*/
/*min-height: 100%;*/
/*width: auto;*/
/*-webkit-transform: translate(-50%, -50%);*/
/*-ms-transform: translate(-50%, -50%);*/
/*transform: translate(-50%, -50%);*/

/*}*/
.articleItem .newImgBgr, .item img {
    position: absolute;
    left: 50%;
    top: 50%;
    min-height: 100%;
    /*width: auto;*/
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}

.blockNews p, .blockPromotion p {
    position: relative;
    display: contents;

}

.blockNews, .blockPromotion {
    position: relative;
    display: grid;
    text-align: center;
    margin: 20px 0;
    /*margin-left: -15px;*/
    /*margin-right: 15px;*/

}

.blockNews::before {
    position: absolute;
    background: #ffc107;
    content: 'NEWS';
    padding: 10px;
    margin-left: 15px;
    left: 0;
    top: 0;
    z-index: 10;
}

.blockPromotion::before {
    position: absolute;
    content: 'PROMOTION';
    background: #ff5722;
    padding: 10px;
    margin-left: 15px;
    left: 0;
    top: 0;
    z-index: 10;
}

.newsTitles a {
    color: #212121;
    font-size: 1.4em;
}

.newsDate {
    font-size: 12px;
    color: #9e9e9e;
}

.typeNewsBlock {
    text-transform: uppercase;
    color: #ffc107;
}

.typeNewsBlock, .dateNewsBlock {
    margin-top: 30px;
}

hr {
    border-color: #e0e0e0;
}

.newsBtns {
    margin-left: 15px;
}

.newsBtns .blueBtn {
    border: 1px solid #45cee0;
    color: #FFFFFF;
    background: transparent;
    padding-left: 25px;
    padding-right: 25px;
    margin-right: 15px;

}

.newsBtns .blueBtn .activeBtn, .newsBtns .blueBtn:hover {
    border: 1px solid #212121;
    color: #212121;

}

.newsBtns .activeNews {
    color: #212121;
    border-color: #212121;
}

.newsBtns .activeNews:hover {
    background: transparent !important;
}

.postListAdmin .item-actions a {
    display: inline-block;
    text-align: center;
}

.thumbnailPhoto :hover {
    opacity: 0.8;
}

.newsTitlesText {
    line-height: 1.5em;
    height: 3.5em;
    overflow: hidden;
}

.newImgBgr {
    width: 100%;
    height: auto;
}

.newsContent {
    margin-top: -10%;
    background-color: #fff;
    min-height: 200px;
    padding: 30px;
}

.smallNewsContent {
    margin-top: -15%;
    background-color: #fff;
    min-height: 100px;
    padding: 10px;
}

img.greyCircle {
    width: 30px;
    height: 30px;
    background-color: #9e9e9e;
    margin-right: 10px;

    border-radius: 50%;
    display: inline-block;;
}

.articleItem {
    display: inline-block;
    margin-bottom: 5%;
    width: 100%;
}

.postListContent {
    height: 320px;
    border-bottom: 1px solid #9e9e9e;
    position: relative;
}

.postAuthor {
    position: absolute;
    bottom: 0;
    margin-bottom: 15px;
    width: calc(100% - 20px);
}

.firstArticle .postListContent {
    margin-top: -10%;
    height: 250px;
    padding: 20px 50px;
}

.firstArticle .thumbnailPhoto {
    width: 122%;
    left: -11%;
}

.pagination > li > a, .pagination > li > span {
    background-color: inherit;
    color: #9e9e9e;
    padding: 0;
    margin: 5px 5px;
}

.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
    color: #212121;
    background-color: inherit;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    color: #212121;
    background-color: inherit;
    font-weight: bold;
    border-bottom: 1px solid #212121;
}

.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus {
    color: #212121;
    background-color: inherit;
    cursor: not-allowed;
}

.promotionContent {
    border: 2px solid #00bcd4;
    height: 320px;
}

.firstArticle .p24 {
    font-size: 48px;
}

.postSummary {
    text-overflow: ellipsis;
    overflow: hidden;
    max-height: 180px;
    line-height: 25px;
}

/*-------------------- TOASTR CSS--------------------*/
#toast-container > .toast-success {
    background-image: url('../img/logoImg.png') !important;
    padding-left: 60px;
}

.articleItem a, .articleItem a:hover {
    color: #212121;
}

.postAuthor .blueBtn {
    color: #0b58e1;
    padding-right: 10%;
    padding-left: 10%;
}

/*-----------------------------------------------------*/

@media (max-width: 1366px) {
    .blueBtn {
        font-size: 12px;
    }

    .submenu {
        font-size: 12px;
    }

    .dealersTotalVal h5 {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 12px;
    }
}

@media (max-width: 992px) {
    .blueBtn {
        margin-bottom: 5px;
    }

    #homepage .container-fluid {
        background-position-x: 68%;
    }

}

@media (min-width: 768px) and (max-width: 1200px) {
    /*.menuMargin, .container {*/
    /*padding-left: 17% !important;*/
    /*}*/
    /*.menuMobile {*/
    /*padding-left: 15px !important;*/
    /*}*/
}

@media (max-width: 1336px) {

    .menuMargin, .container {
        /*padding-left: 10% !important;*/
    }

    .menuLogo {
        left: -2%;
    }

    .firstArticle .thumbnailPhoto {
        width: 112%;
        left: -6%;
    }

}

@media (min-width: 1336px) and (max-width: 1500px) {

    .menuLogo {
        left: -8%;
    }

}

@media (max-width: 767px) {

    .titleAccount, .personalInfoTitle {
        display: none;
    }

    .accountBlock {
        margin-left: 6%;
    }

    .menuMobile {
        margin-right: 0px !important;
        padding-left: 15px;
        padding-right: 15px;
        width: 100%;
    }

    .menuLogo {
        left: 0;
    }

    .navbar-nav {
        margin: 0;
    }

    .menuLogo img:last-child {
        display: inline-block;
    }

    .navbar-collapse.in {
        overflow-y: inherit;
    }

    .activeMenu::after {
        border-left: 10px solid #07bed5;
        border-bottom: 10px solid transparent;
        left: -19px;
        bottom: 10px;
    }

    .notification a {
        margin-top: 0;
    }

    .navbar-nav .line {
        margin-top: 10px;
    }

    .blueBtn {
        margin-top: 10px;
    }

    .btnTextCenter {
        left: 0px;
    }

    .checkVinBtn {
        top: 0;
    }

}

@media (max-width: 510px ) {
    .nav > .youAreBRONZE, .nav > .youAreSILVER, .nav > .youAreGOLD, .nav > .youArePLATINUM {
        display: none;
    }

    .nav > li > .showAccount {
        display: none;
    }

    #showAccount, .showAccount {
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 130px;
        text-align: right;
    }
}

@media (max-width: 767px ) {
    .width-xs {
        width: 100%;
    }

    .blackPlus1 {
        display: none;
    }

    .addNewFileSmallDev {
        padding: 0px;
        margin: 0px;
    }

    .addNewFileSmallDev td:nth-child(2), .addNewFileSmallDev td:nth-child(5) {
        display: none;
    }

    .addNewFileSmallDev .del-icon-user {
        display: none;
    }

    .menuForMobile {
        display: inherit;
    }

    .nav .menuForDecstop {
        display: none;
    }

    .firstArticle .p24, h1 {
        font-size: 22px;
    }

    .p24 {
        font-size: 20px;
    }

    .firstArticle .postListContent {
        padding: 15px;
    }

    .firstArticle .thumbnailPhoto {
        width: 100%;
        left: inherit;
    }

    .carousel-control.left, .carousel-control.right {
        margin: 82% 0;
    }

    .header-fixed > tbody {
        max-height: 190px;
    }

    .profileFotoMobile {
        display: block;
        margin-bottom: 25px;
    }

    .profileFotoDesktop {
        display: none;
    }

    .couponBtn {
        top: -5px;
    }

    #prodDetailBlock {
        margin-bottom: 40px;
    }

    .vinCheckResult {

        margin-bottom: 40px;
    }

    .orderResponse {
        top: 0;
    }
}

@media (min-width: 767px) and (max-width: 992px ) {
    .width-sm {
        width: 50%;
    }

    .menuLogo {
        left: -5%;
    }

    .nav > .youAreBRONZE, .nav > .youAreSILVER, .nav > .youAreGOLD, .nav > .youArePLATINUM {
        display: none;
    }

    .navbar-default .navbar-nav > li {
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media (max-width: 400px ) {
    #printVincheck, #requestOrder {
        width: 52% !important;
        margin-right: 0;
    }

    .orderResponse {
        margin-right: 0;
    }
}
