{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Currencies list</h1>
        <a href="{{ path('setting_currency_new') }}" class="btn blueBtn"> New currency</a>
        <div class="table-responsive">
            <br>
            <table class="table ">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Code</th>
                    <th>Symbol</th>
                    <th>Rate</th>
                    <th>Priority</th>
                    <th>Edit</th>
                </tr>
                </thead>
                <tbody>
                {% for currency in currencies %}
                    <tr>

                        <td><a href="{{ path('setting_currency_show', { 'id': currency.id }) }}">{{ currency.name }}</a>
                        </td>
                        <td>{{ currency.code }}</td>
                        <td>{{ currency.symbol }}</td>
                        <td>{{ currency.rate }}</td>
                        <td>{{ currency.priority }}</td>
                        <td>
                            <a href="{{ path('setting_currency_edit', { 'id': currency.id }) }}">edit</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
