{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">

        <h1>Create currency</h1>
        <br>
        <div class="row">
            <a href="{{ path('setting_currency_index') }}"  class="btn blueBtn"> Back</a>
        </div>
        <br>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" class="btn blueBtn"/>
        {{ form_end(form) }}

        {#<ul>#}
            {#<li>#}
                {#<a href="{{ path('setting_currency_index') }}">Back to the list</a>#}
            {#</li>#}
        {#</ul>#}
    </div>
{% endblock %}
