{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Currency</h1>
        <br>
        <div class="row">
            <a href="{{ path('setting_currency_index') }}"  class="btn blueBtn"> Back</a>
        </div>
        <br>
        <table>
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ currency.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ currency.name }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ currency.code }}</td>
            </tr>
            <tr>
                <th>Symbol</th>
                <td>{{ currency.symbol }}</td>
            </tr>
            <tr>
                <th>Rate</th>
                <td>{{ currency.rate }}</td>
            </tr>
            </tbody>
        </table>
        <ul>
            {#<li>#}
                {#<a href="{{ path('setting_currency_index') }}">Back to the list</a>#}
            {#</li>#}
            <li>
                <a href="{{ path('setting_currency_edit', { 'id': currency.id }) }}" class="btn blueBtn">Edit</a>
            </li>
            <li>
                {{ form_start(delete_form) }}
                <input type="submit"  class="btn btn-danger" value="Delete">
                {{ form_end(delete_form) }}
            </li>
        </ul>
    </div>
{% endblock %}
