{% extends 'base.html.twig' %}
{% block body %}

    {#{% include 'default/vincheckUnderBar.html.twig' %}#}
    <div class="container-fluid underBar">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 dealerProfileLeftBlock  noPaddingLeft noPaddingRight underBarContent">
                    <div class="row ">
                        <form class="form-inline col-md-12 col-sm-12 col-xs-12" id="vinCheckForm" novalidate>
                            <div class=" col-md-3 col-sm-7 col-xs-7 noPaddingRight">
                                <div class=" col-md-12 col-sm-12 col-xs-12 noPadding">
                                    <input type="text" class="form-control" id="inputCheckVin" name="inputCheckVin"
                                           placeholder="Enter your VIN - beta version" required
                                            {#pattern="^[a-zA-Z0-9]{7,17}$"#}
                                            {#min="7" max="17"#}
                                    >
                                </div>
                            </div>
                            <div class=" col-md-2 col-sm-2 col-xs-5">
                                <button type="submit" class="btn blueBtn btn-block checkVinBtn "><b>SUBMIT</b></button>
                            </div>
                            <div class=" col-md-2 col-sm-2 col-xs-5 pull-right">
                                <a class="btn blueBtn btn-block couponBtn " id="dealerCouponBtn"><b>PROMOTION</b></a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container containerMarginTop  {{ user.roles[0] -}}">
        <div class="col-md-12 col-sm-12 col-xs-12  animated pulse hidden  exchangeBlock ">
            <div class="col-md-4 col-sm-12 col-xs-12 currencyBlock noPadding ">
                <div class=" col-md-5 col-xs-12 noPadding"><b class="p14">CHANGE CURRENCY:</b></div>
                <div class="currency  noPadding col-md-7 col-xs-12">
                    <span class="dropdown ">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">{{ currentCurrency.name }} <span
                                    class="caret"></span></a>
                        <ul class="dropdown-menu">
                            {% for currency in currencies %}
                                <li><a href="#" data-rate="{{ currency.rate }}" data-name="{{ currency.name }}"
                                       data-currency="{{ currency.code }}"
                                       class="
                           {% if currency.code == currentCurrency.code %}
                              active
                            {% endif %}">
                                   {{ currency.code }} - {{ currency.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </span>
                </div>
            </div>

            <div class="exchangeFeeText hidden noPadding col-md-3">
                If receiving payment from customers in a currency other than USD, you can add a commission rate
                (0–10%) to their quote to cover currency exchange.
            </div>
            <div class="col-md-8 col-sm-12 col-xs-12  hidden animated fadeIn exchangeFeeBlock noPadding">
                <div class="col-md-6 todayRateBlock">
                    <div class="col-md-4 todayRateText">
                        <b class="p14">TODAY'S RATE:</b>
                    </div>
                    <div class="col-md-8 todayRate">
                        <span> 1 USD = <span class="rateValue"></span> <span class="rateSymbol"></span></span>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12 noPadding exchangeFeeBlockInputBlock"><b class="p14">EXCHANGE FEE:</b>
                    <input type="number"
                           value="{{ exchangeFee }}"
                           min="0"
                           max="10"
                           step="0.1">%
                    <a href="#" class="exchangeFeeTextBtn"> <i class="fa fa-info-circle" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-7 animated flipInY" id="whatCheck">
            <div class="row">
                <div class="row vinCheckResult">
                    <div class="printBlock">
                        <div class="col-md-5 ">
                            <div class="vincheckErrorDetails row"></div>
                            <div class="vincheckDetails row"></div>

                            <div class="vincheckErrorMMI row "></div>
                            <div class="vincheckMMI row vinCheckResult"></div>
                        </div>
                        <div class="col-md-7">
                            <div class="vincheckErrorProducts row"></div>
                            <div class="vincheckProducts row"></div>
                        </div>
                    </div>
                </div>
                {#<div class="row">#}
                {#<div class=" col-md-12 text-right ">#}
                <div class="pull-right row col-md-7 col-xs-12 text-right">
                    <div class="orderResponse animated fadeIn hidden ">
                        <b> We received your request</b>
                        <span class=" blueBtn btn glyphicon glyphicon-ok no-cursor no-hover"
                              aria-hidden="true"></span>
                    </div>

                    <div class="blueBtn btn  checkVinBtn animated fadeIn" data-toggle="modal"
                         data-target=".bs-example-modal-sm" id="requestOrder">ORDER
                    </div>
                    <div class="blueBtn btn hidden checkVinBtn " id="printVincheck">PRINT</div>
                </div>
                {#</div>#}
                {#</div>#}
            </div>
        </div>
        <div class="col-md-5 animated flipInY" id="prodDetailBlock">
            <div class="row vinCheckResult">
                <div class="col-md-12">
                    <div class="vincheckProdDetails row"></div>
                </div>
            </div>
            <div class="row col-md-12 vinCheckOrder animated fadeIn">
                <div class="col-md-12 noPadding">
                    <div class="vincheckOrderDetail row">
                        <div class="row"><h5><b>ORDER DETAILS</b></h5></div>
                    </div>
                </div>
                <div class="col-md-12 noPadding">
                    <div class="pull-left"><b>Total:</b></div>
                    <div id="ordersTotal" class="pull-right"></div>
                </div>
            </div>


        </div>
        <div class="col-md-8 col-sm-10 col-xs-12 textVinInfo animated tada">
            <br>
            <div class="col-md-12">
                <p>
                    <em>This VIN check tool is currently in beta. Some compatible products may be
                        missing. If you suspect an error, please help us improve this tool by sending a
                        report
                        below.</em>
                </p>
            </div>
        </div>
        <div class="col-md-8 col-sm-10 spotErrorBlock ">
            <hr class="greyHr">
            <div class="row text-center  ">
                <div class="col-md-12 col-sm-12 ">
                    <p class="text-left"><b>SPOT A MISTAKE?</b></p>
                    <br>
                    <form action="" id="spotErrorForm">
                        <textarea name="" id="" cols="30" rows="5" minlength="10"
                                  class="btn-block form-control" placeholder="Message*" required></textarea>
                        <br>
                        <div class="col-md-3 ">
                            <button type="submit" class="btn blueBtn btn-block pull-left"> SEND</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="dealerCouponBlock"
         class="animated col-md-6 col-sm-6 col-xs-10 hidden slideInRight noPaddingRight noPaddingLeft">
        <div class=" noPaddingRight noPaddingLeft submenu">
            <ul class="nav navbar-nav col-lg-10 col-md-10 col-sm-12 col-xs-12">
                <li>
                    <div class="blockCloseBtn col-md-1 noPaddingRight noPaddingLeft">
                        <i class="fa fa-times closeAccount" aria-hidden="true"></i>
                    </div>
                </li>

                <li class="pull-left">
                    <div class="personalInfoTitle"><span>Promotions</span></div>
                </li>

            </ul>
        </div>
        <div class="accountBlock  col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <div class="col-md-12 whiteColor">
                <h5>Offer your customers and potential customers a promotional discount coupon to use when buying
                    BimmerTech products from you.</h5>
                <h5>Place your order request online through <a href="{{ path('vincheck_index') }} " class="whiteColor"
                                                               style="text-decoration: underline ">the
                        VIN check
                        page</a> and we will cover the cost of discounts offered
                    on parts. Installation discounts are optional and will be covered by the dealer.</h5>
                <br>
                <br>
            </div>

            {% for key, value in coupons %}
                <div class="row ">
                    <div class="col-md-12">
                        <div class="col-md-9">
                            <h5 class="whiteColor"> {{ value.name }}</h5>
                        </div>
                        <div class="col-md-3">
                            <a href="{{ value.webPath }} " target="_blank"
                               class="btn btn-block blueBtn couponBtn" style="top: 0;">PRINT </a>
                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>
    </div>




    <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" id="modalOrder" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content col-md-12">
                <div class="row">
                    <br>
                    <form id="orderModalForm" autocomplete="off">
                    <textarea name="orderComment" id="" cols="30" rows="5"
                              placeholder="Comments (optional)"></textarea>
                        <div class="modal-footer noPaddingRight noPaddingLeft">
                            <div class="col-md-6 noPaddingLeft">
                                <button type="submit" class="blueBtn btn  btn-block " value="ORDER">ORDER</button>
                            </div>
                            <div class="col-md-6 noPaddingRight">
                                <button type="button" class="btn blueBtn btn-block whiteCancelBtn" data-dismiss="modal">
                                    CANCEL
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
    {% block options_js %}
        <script src="{{ asset('js/pdfmake.min.js') }}"></script>
        <script src="{{ asset('js/vfs_fonts.js') }}"></script>
        <script>
            if ($.urlParam('vin')) {
                var vin = $.urlParam('vin');
                $('#inputCheckVin').val(vin);
                getProducts(vin);
                $(".textVinInfo").show();
            }
        </script>
    {% endblock %}