{% extends '::base.html.twig' %}

{% block title %}Set new password{% endblock %}

{% block body %}

    <div class="row">
    <div class="col-sm-6 col-sm-offset-3 ">
        <div class="well">
            <form action="{{ path('api_resetting_request') }}" method="post">
                <fieldset>
                    <legend><i class="fa fa-lock" aria-hidden="true"></i>Login</legend>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" class="form-control"/>
                    </div>

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
                    <button type="submit" class="btn btn-primary">
                        <i class="fa fa-sign-in" aria-hidden="true"></i> Repeat Password
                    </button>
                </fieldset>
            </form>
        </div>
    </div>



{% endblock %}